
{% extends "_templates/page-template.html" %}

{% set pageHeading = "Request personal information about yourself" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

    <p class="govuk-body">Under data protection law, you have rights that may be exercised. The rights available to you depend upon our reason for processing your information.  The rights include requesting a copy of personal data we hold about you.</p>

    <p class="govuk-body">You are not required to pay any charge for exercising your rights and we usually have one month to respond to you.</p>
    <p class="govuk-body">The information that you provide will be used to process your request. For details about how Ofqual processes personal data, please visit our pesonal information charter page:
    <a href="https://www.gov.uk/government/organisations/ofqual/about/personal-information-charter" class="govuk-link">www.gov.uk/government/organisations/ofqual/about/personal-information-charter</a></p>

    {# <h2 class="govuk-heading-m">Before you begin</h2>
    <p class="govuk-body">Content here...</p> #}
    
    {{ govukButton({
      text: "Start now",
      href: "./",
      isStartButton: true
    }) }}  

    <h2 class="govuk-heading-m">Heading here</h2>
    <p class="govuk-body">Content here...</p>

    </div>
  </div>

{% endblock %}
