
{% extends "_templates/form-template.html" %}

{% set pageHeading = "Add centre or school information" %}
{% set formAction = "./the-question" %}

{% block formContent %}

  <span class="govuk-caption-l">Make an enquiry</span>
  <h1 class="govuk-heading-l">Add centre or school information</h1>

  {{ govukInput({
    label: {
      text: "Centre or school name"
    },
    classes: "govuk-input govuk-!-width-two-thirds"
  } | decorateAttributes(data, "data.centreSchool.centreSchoolName")) }}


  {{ govukInput({
    label: {
      text: "Centre or school number (optional)"
    },
    classes: "govuk-input govuk-!-width-one-third"
  } | decorateAttributes(data, "data.centreSchool.centreSchoolNumber")) }}
  
  {# <h2 class="govuk-heading-m">Centre or school address</h2>
  
  {{ govukInput({
    label: {
      text: "Address line 1"
    },
    classes: "govuk-input govuk-!-width-full-width"
  } | decorateAttributes(data, "data.centreSchool.Address1")) }}

  {{ govukInput({
    label: {
      text: "Address line 2 (optional)"
    },
    classes: "govuk-input govuk-!-width-full-width"
  } | decorateAttributes(data, "data.centreSchool.Address2")) }}

  {{ govukInput({
    label: {
      text: "Address (optional)"
    },
    classes: "govuk-input govuk-!-width-two-thirds"
  } | decorateAttributes(data, "data.other")) }} #}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}
    <a class="govuk-link" href="./../frontdoor">Cancel</a>
  </div>

{% endblock %}
