{% extends "_templates/form-template.html" %}

{% set formAction = "./confirmation" %}

{% block formContent %}

  {# <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds"> #}

      <h1 class="govuk-heading-l">Review your question to Ofqual</h1>
      
      <h2 class="govuk-heading-m">Your details</h2>
      
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Title"
            },
            value: {
              text: data.title or 'Not provided'
            },
            actions: {
              items: [
                {
                  href: "./../make-an-enquiry",
                  text: "Change",
                  visuallyHiddenText: "the title"
                }
              ]
            }
          },
          {
            key: {
              text: "Full name"
            },
            value: {
              text: data.fullName or 'Not provided'
            },
            actions: {
              items: [
                {
                  href: "./../make-an-enquiry",
                  text: "Change",
                  visuallyHiddenText: "the full name"
                }
              ]
            }
          },
          {
            key: {
              text: "Phone number"
            },
            value: {
              text: data.phone or 'Not provided'
            },
            actions: {
              items: [
                {
                  href: "./../make-an-enquiry",
                  text: "Change",
                  visuallyHiddenText: "the phone number"
                }
              ]
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              text: data.email or 'Not provided'
            },
            actions: {
              items: [
                {
                  href: "./../make-an-enquiry",
                  text: "Change",
                  visuallyHiddenText: "the email"
                }
              ]
            }
          },
          {
            key: {
              text: "What best describes you?"
            },
            value: {
              text: data.userType or 'Not provided'
            },
            actions: {
              items: [
                {
                  href: "./../make-an-enquiry",
                  text: "Change",
                  visuallyHiddenText: "what best describes you."
                }
              ]
            }
          }
        ]
      }) }}

      {% if data.enquiryType %}

        <h2 class="govuk-heading-m">Enquiry type</h2>

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Enquiry type"
              },
              value: {
                text: data.enquiryType or "Not provided"
              },
              actions: {
                items: [
                  {
                    href: "./../make-an-enquiry/enquiry-type",
                    text: "Change",
                    visuallyHiddenText: "the enquiry type"
                  }
                ]
              }
            }
          ]
        }) }}
      
      {% endif %}

      {% if data.qualType %}
      
        <h2 class="govuk-heading-m">Qualification type</h2>

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Qualification type"
              },
              value: {
                text: data.qualType or "Not provided"
              },
              actions: {
                items: [
                  {
                    href: "./../make-an-enquiry/qual-type",
                    text: "Change",
                    visuallyHiddenText: "the qaualification type"
                  }
                ]
              }
            }
          ]
        }) }}

      {% endif%}
      
      {% if data.subject %}

      <h2 class="govuk-heading-m">Subject</h2>

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Subject"
              },
              value: {
                text: data.subject or "Not provided"
              },
              actions: {
                items: [
                  {
                    href: "./../make-an-enquiry/search-for-subject",
                    text: "Change",
                    visuallyHiddenText: " subject"
                  }
                ]
              }
            }
          ]
        }) }}

      {% endif %}
      
      {% if data.awardingOrg %}
      
      <h2 class="govuk-heading-m">Awarding organisation</h2>

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Awarding organisation"
              },
              value: {
                text: data.awardingOrg or "Not provided"
              },
              actions: {
                items: [
                  {
                    href: "./../make-an-enquiry/search-for-ao",
                    text: "Change",
                    visuallyHiddenText: "the awarding organisation"
                  }
                ]
              }
            }
          ]
        }) }}

      {% endif %}
      
      <h2 class="govuk-heading-m">Question details</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "What is your question?"
            },
            value: {
              text: data.question or "Not provided"
            },
            actions: {
              items: [
                {
                  href: "./../make-an-enquiry/the-question",
                  text: "Change",
                  visuallyHiddenText: "the question"
                }
              ]
            }
          }
        ]
      }) }}
      
      <h2 class="govuk-heading-m">Supporting files</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Upload a supporting document"
            },
            value: {
              text: data.fileUpload or 'Not provided'
            },
            actions: {
              items: [
                {
                  href: "./../make-an-enquiry/upload-document",
                  text: "Change",
                  visuallyHiddenText: "the uploaded file"
                }
              ]
            }
          }
        ]
      }) }}

      <input type="hidden" id="confirmEnquiry" name="confirmEnquiry" value="true">

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Submit question"
        }) }}
        <a class="govuk-link" href="/manage">Cancel</a>
      </div>
  
    {# </div>
  </div> #}
  
{% endblock %}