
{% extends "_templates/form-template.html" %}

{% set pageHeading = "Make an enquiry" %}
{% set formAction = "/is-it-qual-answer" %}

{% block formContent %}

  <span class="govuk-caption-l">Make an enquiry</span>
  <h1 class="govuk-heading-l">Qualification details</h1>

  <p class="govuk-body">We can only answer questions about qualifications that we regulate.</p>

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Is your question about a qualification regulated by Ofqual?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "Yes",
        text: "Yes"
      },
      {
        value: "No, a qualification is not relevant to my question",
        text: "No, a qualification is not relevant to my question"
      },
      {
        divider: "or"
      },
      {
        value: "I do not know the qualification",
        text: "I do not know the qualification"
      }
    ]
  } | decorateAttributes(data, "data.isItQual")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}
    <a class="govuk-link" href="./../frontdoor">Cancel</a>
  </div>

{% endblock %}
