
{% extends "_templates/form-template.html" %}

{% set pageHeading = "Is your request about a specific qualification?" %}
{# {% set formAction = "/qual-type-answer" %} #}
{% set formAction = "./is-it-subject" %}

{% block formContent %}

  <span class="govuk-caption-l">Make an enquiry</span>

  {% set otherHtml %}
    {{ govukInput({
      classes: "govuk-!-width-two-thirds",
      label: {
        text: "Enter qualification details (optional)"
      }
    }) }}
  {% endset -%}

  {{ govukRadios({
    fieldset: {
      legend: {
        html: pageHeading,
        classes: "govuk-fieldset__legend--l",
        isPaheheading: true
      }
    },
    items: [
      {
        value: "Apprenticeship",
        text: "Apprenticeship"
      },
      {
        value: "A/AS level",
        text: "A/AS level"
      },
      {
        value: "GCSE",
        text: "GCSE"
      },
      {
        value: "T-level",
        text: "T-level"
      },
      {
        value: "Vocational qualification",
        text: "Vocational qualification"
      },
      {
        value: "Another qualification",
        text: "Another qualification",
        conditional: {
          html: otherHtml
        }
      },
      {
        divider: "or"
      },
      {
        value: "My request does not relate to a qualification",
        text: "My request does not relate to a qualification"
      }
    ]
  } | decorateAttributes(data, "data.qualType")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}
    <a class="govuk-link" href="./../frontdoor">Cancel</a>
  </div>

{% endblock %}
