
{% extends "_templates/form-template.html" %}

{% set pageHeading = "Which qualification is your request about?" %}
{% set formAction = "./is-it-subject" %}

{% block formContent %}

  <span class="govuk-caption-l">Make an enquiry</span>

  {% set otherHtml %}
    {{ govukInput({
      classes: "govuk-!-width-two-thirds",
      label: {
        text: "Enter qualification details (optional)"
      }
    }) }}
  {% endset -%}

  {{ govukCheckboxes({
    fieldset: {
      legend: {
        html: pageHeading,
        classes: "govuk-fieldset__legend--l",
        isPaheheading: true
      }
    },
    items: [
      {
        value: "Apprenticeship",
        text: "Apprenticeship"
      },
      {
        value: "A/AS level",
        text: "A/AS level"
      },
      {
        value: "BTEC",
        text: "BTEC"
      },
      {
        value: "Functional Skills",
        text: "Functional Skills"
      },
      {
        value: "GCSE",
        text: "GCSE"
      },
      {
        value: "International Baccalaureate",
        text: "International Baccalaureate"
      },
      {
        value: "T level",
        text: "T level"
      },
      {
        value: "Pre-U",
        text: "Pre-U"
      },
      {
        value: "SATs",
        text: "SATs"
      },
      {
        value: "Other Level 1",
        text: "Other Level 1"
      },
      {
        value: "Other Level 2",
        text: "Other Level 2"
      },
      {
        value: "Other Level 3",
        text: "Other Level 3"
      },
      {
        value: "Other Level 4 or 5",
        text: "Other Level 4 or 5"
      },
      {
        value: "Other Level 6+",
        text: "Other Level 6+"
      },
      {
        value: "Multiple",
        text: "Multiple"
      },
      {
        value: "Another qualification type",
        text: "Another qualification type",
        conditional: {
          html: otherHtml
        }
      },
      {
        divider: "or"
      },
      {
        value: "My request does not relate to specific qualification type",
        text: "My request does not relate to specific qualification type"
      }
    ]
  } | decorateAttributes(data, "data.qualType")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}
    <a class="govuk-link" href="./../frontdoor">Cancel</a>
  </div>

{% endblock %}
