
{% extends "_templates/form-template.html" %}

{% set pageHeading = "Search for the awarding organisation" %}
{% set formAction = "./the-question" %}

{% block formContent %}

  <span class="govuk-caption-l">Make an enquiry</span>
  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

  <div class="body-text">
    <span class="govuk-hint">AQA, OCR, Pearson EDI for example</span>
    <div id="tt-default" class="autocomplete-wrapper govuk-!-width-full-width govuk-!-margin-top-2 govuk-!-margin-bottom-6 govuk-body"></div>
  </div>

  <a href="./the-question" class="govuk-link govuk-body">I can't find the awarding organisation, skip this step</a>

  <script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>

  <script type="text/javascript">
    
  var awardingOrgs = [
    {
      "id": "c3e9b900-e855-11ea-8c5b-d7d7769453ad",
      "itemId": 39900855,
      "name": "1st for EPA",
      "acronym": "1st for EPA",
      "recognitionNumber": "RN6043",
      "website": null
    },
    {
      "id": "1b773d69-320d-fb9b-0631-ec4f15fd134f",
      "itemId": 152,
      "name": "1st4sport Qualifications",
      "acronym": "1st4sport",
      "recognitionNumber": "RN5216",
      "website": null
    },
    {
      "id": "d0699387-f4ed-f015-58b9-f507f973a234",
      "itemId": 126,
      "name": "ABE",
      "acronym": "ABE",
      "recognitionNumber": "RN5221",
      "website": null
    },
    {
      "id": "37db8b9e-ef9b-a2d2-69d9-442b53d59cdf",
      "itemId": 140,
      "name": "ABMA Education Ltd",
      "acronym": "ABMA",
      "recognitionNumber": "RN5277",
      "website": null
    },
    {
      "id": "dc0de142-6a37-c9d4-69f2-3ead1001194f",
      "itemId": 65,
      "name": "AIM Qualifications",
      "acronym": "AIM ",
      "recognitionNumber": "RN5322",
      "website": null
    },
    {
      "id": "26f12f44-13b7-5653-25c6-715118a5ee74",
      "itemId": 154,
      "name": "AQA Education",
      "acronym": "AQA",
      "recognitionNumber": "RN5196",
      "website": null
    },
    {
      "id": "8b92ba55-7aea-d6b1-1c69-16ee5c6e36f1",
      "itemId": 46,
      "name": "ATHE Ltd",
      "acronym": "ATHE",
      "recognitionNumber": "RN5344",
      "website": null
    },
    {
      "id": "10093070-fc12-11ea-83f3-ddc5e116c2e3",
      "itemId": 1009307012,
      "name": "Academy for Project Management LTD",
      "acronym": "Academy4PM",
      "recognitionNumber": "RN6077",
      "website": null
    },
    {
      "id": "a8f28357-ffe9-37af-2c1e-d2154e83b4b0",
      "itemId": 80,
      "name": "Accounting Technicians Ireland",
      "acronym": "Accounting Technicians Ireland",
      "recognitionNumber": "RN5246",
      "website": null
    },
    {
      "id": "27c5a864-daaa-df53-15ae-c7f4580e8285",
      "itemId": 131,
      "name": "Accredited Skills for Industry",
      "acronym": "ASFI",
      "recognitionNumber": "RN5201",
      "website": null
    },
    {
      "id": "99d16520-e395-11e9-8519-87f255bd4a29",
      "itemId": 9916520395,
      "name": "Achieve and Partners Limited",
      "acronym": "Achieve+Partners",
      "recognitionNumber": "RN6026",
      "website": null
    },
    {
      "id": "1b0c0553-8f2e-c99f-8fa9-cc159a899ca5",
      "itemId": 153,
      "name": "Active IQ",
      "acronym": "Active IQ",
      "recognitionNumber": "RN5239",
      "website": null
    },
    {
      "id": "37e2ca80-2b50-11eb-a273-ff900fd418d4",
      "itemId": 37280250,
      "name": "Advance HE",
      "acronym": "Advance HE",
      "recognitionNumber": "RN6061",
      "website": null
    },
    {
      "id": "d8170090-501a-11eb-ad98-d765c5fa5cba",
      "itemId": 8170090501,
      "name": "Advanced Analytics Solutions",
      "acronym": "AAS",
      "recognitionNumber": "RN6080",
      "website": null
    },
    {
      "id": "476451c3-53ce-8149-4cd9-058f7ceb101a",
      "itemId": 144,
      "name": "Agored Cymru",
      "acronym": "Agored Cymru",
      "recognitionNumber": "RN5186",
      "website": null
    },
    {
      "id": "90f02280-5ef0-11ea-a08d-05f333752ad8",
      "itemId": 900228050,
      "name": "Allsup and Dale",
      "acronym": "A & D Ltd",
      "recognitionNumber": "RN6055",
      "website": null
    },
    {
      "id": "da0bcaa8-6c0d-5185-a248-3f6043499bbc",
      "itemId": 145,
      "name": "Ascentis",
      "acronym": "Ascentis",
      "recognitionNumber": "RN5200",
      "website": null
    },
    {
      "id": "21182637-55ed-15e9-4ddc-87d6eb1d82ff",
      "itemId": 135,
      "name": "Associated Board of the Royal Schools of Music",
      "acronym": "ABRSM",
      "recognitionNumber": "RN5268",
      "website": null
    },
    {
      "id": "b6f2e95b-fe00-dcf1-ffd6-edae34982e46",
      "itemId": 119,
      "name": "Associated Sports Qualifications",
      "acronym": "ASQ",
      "recognitionNumber": "RN5279",
      "website": null
    },
    {
      "id": "95bfb54d-d0f9-36f9-bd0b-8d894f5a4766",
      "itemId": 9,
      "name": "Association of Accounting Technicians",
      "acronym": "AAT",
      "recognitionNumber": "RN5220",
      "website": null
    },
    {
      "id": "06e10810-d13d-abfe-04cf-bbc5c0eaf987",
      "itemId": 132,
      "name": "Association of British Dispensing Opticians",
      "acronym": "ABDO",
      "recognitionNumber": "RN5272",
      "website": null
    },
    {
      "id": "352aa0da-3df6-b0da-30b6-b81262da742f",
      "itemId": 141,
      "name": "Association of Chartered Certified Accountants",
      "acronym": "ACCA",
      "recognitionNumber": "RN5113",
      "website": null
    },
    {
      "id": "f8735241-2144-1655-7d48-ca651d03e5fb",
      "itemId": 146,
      "name": "Association of International Accountants",
      "acronym": "AIA",
      "recognitionNumber": "RN5222",
      "website": null
    },
    {
      "id": "934e5980-f513-11e9-957b-317c7c294a0e",
      "itemId": 9345980513,
      "name": "Autoexel Ltd",
      "acronym": "Autoexel Ltd",
      "recognitionNumber": "RN6024",
      "website": null
    },
    {
      "id": "f2772612-706b-2176-6fd1-306fe37f04a7",
      "itemId": 10,
      "name": "Award Scheme Development and Accreditation Network",
      "acronym": "ASDAN",
      "recognitionNumber": "RN5282",
      "website": null
    },
    {
      "id": "ebb58fd3-04c4-1f5d-d3bc-3e308bc5ea62",
      "itemId": 133,
      "name": "Awarding Body for the Built Environment",
      "acronym": "ABBE",
      "recognitionNumber": "RN5251",
      "website": null
    },
    {
      "id": "bcdfb860-dec6-11e9-aa35-aba2a8def4ce",
      "itemId": 8606,
      "name": "Awarding UK (Part of Bishop Grosseteste University)",
      "acronym": "Awarding UK",
      "recognitionNumber": "RN6025",
      "website": null
    },
    {
      "id": "8e1acd22-0cd1-22ae-1c77-56a1c877981f",
      "itemId": 27,
      "name": "BCS, The Chartered Institute for IT",
      "acronym": "BCS",
      "recognitionNumber": "RN5188",
      "website": null
    },
    {
      "id": "dc1ac961-51e9-07bb-6851-7e23dcdc149f",
      "itemId": 112,
      "name": "BHS Qualifications",
      "acronym": "BHSQ",
      "recognitionNumber": "RN5266",
      "website": null
    },
    {
      "id": "5111a1c5-8750-9741-4883-304295e18dc8",
      "itemId": 155,
      "name": "BIIAB",
      "acronym": "BIIAB",
      "recognitionNumber": "RN5118",
      "website": null
    },
    {
      "id": "f7323fe3-5e84-d95a-75e8-4762e35b9d64",
      "itemId": 74,
      "name": "BPEC Certification Ltd",
      "acronym": "BPEC",
      "recognitionNumber": "RN5256",
      "website": null
    },
    {
      "id": "2ec07720-6216-11eb-ad98-d765c5fa5cba",
      "itemId": 2077206216,
      "name": "BPS Assessments and Awards Limited",
      "acronym": "BPSAA EPA",
      "recognitionNumber": "RN6053",
      "website": null
    },
    {
      "id": "48c3877f-a5c1-4b93-a6ef-3ae1acfd3949",
      "itemId": 174,
      "name": "Bespoke Professional Development and Training Ltd",
      "acronym": "BePro",
      "recognitionNumber": "RN6014",
      "website": null
    },
    {
      "id": "d4bd5980-0089-11ea-814b-dd7a15b04e5f",
      "itemId": 459800089,
      "name": "Best Practice Network",
      "acronym": "BPN",
      "recognitionNumber": "RN6071",
      "website": null
    },
    {
      "id": "efc26882-eb0b-517f-0d22-8b675b1b5da1",
      "itemId": 86,
      "name": "British Ballet Organisation",
      "acronym": "BBO",
      "recognitionNumber": "RN5115",
      "website": null
    },
    {
      "id": "ec764f6b-14b3-737c-1e36-f760d236c8df",
      "itemId": 87,
      "name": "British Canoeing Awarding Body",
      "acronym": "BCAB",
      "recognitionNumber": "RN5261",
      "website": null
    },
    {
      "id": "e4cbf39b-86c8-4717-6111-c64359742752",
      "itemId": 11,
      "name": "British Safety Council",
      "acronym": "BSC",
      "recognitionNumber": "RN5119",
      "website": null
    },
    {
      "id": "fce9bcec-d1d5-ef07-097f-4b2f2d0281e9",
      "itemId": 81,
      "name": "British Wheel of Yoga Qualifications",
      "acronym": "BWYQ",
      "recognitionNumber": "RN5120",
      "website": null
    },
    {
      "id": "0e854637-64ae-5b54-b6a6-084e0a89f215",
      "itemId": 138,
      "name": "CABWI Awarding Body",
      "acronym": "CABWI",
      "recognitionNumber": "RN5223",
      "website": null
    },
    {
      "id": "69750e9e-3fbd-5042-b38c-37250bc99320",
      "itemId": 130,
      "name": "CFA Society of UK",
      "acronym": "CFA UK",
      "recognitionNumber": "RN5319",
      "website": null
    },
    {
      "id": "945910f0-3ee5-11eb-851d-b3f6e253cad6",
      "itemId": 945910035,
      "name": "CILIP Pathways",
      "acronym": "CILIP Pathways",
      "recognitionNumber": "RN6054",
      "website": null
    },
    {
      "id": "8e2f1f3b-4e8e-f60b-85b6-d380310aeffe",
      "itemId": 85,
      "name": "CIOL Qualifications",
      "acronym": "CIOLQ",
      "recognitionNumber": "RN5145",
      "website": null
    },
    {
      "id": "4a1a19d0-3891-11eb-bf28-07e51037e85a",
      "itemId": 411903891,
      "name": "CIPFA ",
      "acronym": "CIPFA",
      "recognitionNumber": "RN6038",
      "website": null
    },
    {
      "id": "19db1fe0-5406-11eb-ad98-d765c5fa5cba",
      "itemId": 19105406,
      "name": "CIWM",
      "acronym": "CIWM",
      "recognitionNumber": "RN6036",
      "website": null
    },
    {
      "id": "cf93076a-d051-1088-14cf-3b64273713a3",
      "itemId": 29,
      "name": "Cambridge Assessment English",
      "acronym": "Cambridge English",
      "recognitionNumber": "RN5185",
      "website": null
    },
    {
      "id": "315e611b-2a4b-ac46-dd4f-e3842d9d12cc",
      "itemId": 136,
      "name": "Cambridge Assessment International Education",
      "acronym": "Cambridge International",
      "recognitionNumber": "RN5122",
      "website": null
    },
    {
      "id": "21df4366-8cf8-2fea-d469-58700fff735f",
      "itemId": 73,
      "name": "Central Qualifications",
      "acronym": "CQ",
      "recognitionNumber": "RN5336",
      "website": null
    },
    {
      "id": "d2717d99-4bdd-9d5a-71e8-99371466ec95",
      "itemId": 13,
      "name": "Chartered Institute for Securities & Investment",
      "acronym": "CISI",
      "recognitionNumber": "RN5247",
      "website": null
    },
    {
      "id": "dc1bf2ae-69c6-c0d9-9323-d93d7f871ad5",
      "itemId": 18,
      "name": "Chartered Institute of Building",
      "acronym": "CIOB",
      "recognitionNumber": "RN5229",
      "website": null
    },
    {
      "id": "68ce5028-3e7b-1189-6a0a-db533758bd04",
      "itemId": 36,
      "name": "Chartered Institute of Credit Management",
      "acronym": "CICM",
      "recognitionNumber": "RN5264",
      "website": null
    },
    {
      "id": "9927d4b0-4393-11eb-a630-2bedfbd8ff51",
      "itemId": 9927404393,
      "name": "Chartered Institute of Ecology and Environmental Management",
      "acronym": "CIEEM",
      "recognitionNumber": "RN6079",
      "website": null
    },
    {
      "id": "f405d14e-7ca9-66fa-dbd8-9d82a9b8367a",
      "itemId": 19,
      "name": "Chartered Institute of Housing",
      "acronym": "CIH",
      "recognitionNumber": "RN5181",
      "website": null
    },
    {
      "id": "6c300ec0-2429-11eb-8499-e9a3e841e071",
      "itemId": 630002429,
      "name": "Chartered Institute of Internal Auditors",
      "acronym": "Chartered IIA",
      "recognitionNumber": "RN6074",
      "website": null
    },
    {
      "id": "a85438ed-618c-d939-80b7-d2e1d78b7714",
      "itemId": 82,
      "name": "Chartered Institute of Legal Executives",
      "acronym": "CILEx",
      "recognitionNumber": "RN5142",
      "website": null
    },
    {
      "id": "80b1fdb0-446b-11eb-a630-2bedfbd8ff51",
      "itemId": 8010446,
      "name": "Chartered Institute of Management Accountants ",
      "acronym": "CIMA",
      "recognitionNumber": "RN6059",
      "website": null
    },
    {
      "id": "85a8ab5b-c8fd-5249-9e8c-577792776bd8",
      "itemId": 21,
      "name": "Chartered Institute of Marketing",
      "acronym": "CIM",
      "recognitionNumber": "RN5127",
      "website": null
    },
    {
      "id": "7ea6a03c-21ed-c482-4d33-d9a48e13b3d4",
      "itemId": 22,
      "name": "Chartered Institute of Personnel and Development",
      "acronym": "CIPD",
      "recognitionNumber": "RN5226",
      "website": null
    },
    {
      "id": "a9f0ffc7-a48a-8378-0157-6f327ee1777b",
      "itemId": 23,
      "name": "Chartered Institute of Procurement and Supply",
      "acronym": "CIPS",
      "recognitionNumber": "RN5227",
      "website": null
    },
    {
      "id": "34e51e70-048e-11eb-aa45-254dd729e1c2",
      "itemId": 345170048,
      "name": "Chartered Institution of Highways and Transportation",
      "acronym": "CIHT",
      "recognitionNumber": "RN6050",
      "website": null
    },
    {
      "id": "e1383470-4c42-679a-bfe3-0be0fdb03798",
      "itemId": 123,
      "name": "Chartered Insurance Institute",
      "acronym": "CII",
      "recognitionNumber": "RN5126",
      "website": null
    },
    {
      "id": "d0180c85-ce08-4f21-1350-e2309bc91787",
      "itemId": 124,
      "name": "Chartered Management Institute",
      "acronym": "CMI",
      "recognitionNumber": "RN5128",
      "website": null
    },
    {
      "id": "d4b6c0e1-e981-2963-345e-cb40ace1474c",
      "itemId": 24,
      "name": "Chartered Quality Institute",
      "acronym": "CQI",
      "recognitionNumber": "RN5130",
      "website": null
    },
    {
      "id": "18a09aae-1ab7-d862-4440-dacc2f541c4a",
      "itemId": 3,
      "name": "City and Guilds of London Institute",
      "acronym": "City & Guilds",
      "recognitionNumber": "RN5217",
      "website": null
    },
    {
      "id": "fac6cd18-ba6e-19a3-fe5c-e10e1e696317",
      "itemId": 120,
      "name": "Confederation of International Beauty Therapy and Cosmetology",
      "acronym": "CIBTAC",
      "recognitionNumber": "RN5124",
      "website": null
    },
    {
      "id": "dcaf3c2f-e9b0-f0c7-b51d-a84afc1370db",
      "itemId": 114,
      "name": "Confederation of Tourism and Hospitality",
      "acronym": "CTH",
      "recognitionNumber": "RN5131",
      "website": null
    },
    {
      "id": "82b4ef90-1e8d-11eb-8499-e9a3e841e071",
      "itemId": 8249018,
      "name": "Cornwall Council (Cornwall Fire and Rescue Service)",
      "acronym": "CFRS",
      "recognitionNumber": "RN6082",
      "website": null
    },
    {
      "id": "ff286948-726e-6cfe-e931-f5e3f14f9288",
      "itemId": 156,
      "name": "Council for the Curriculum, Examinations and Assessment",
      "acronym": "CCEA",
      "recognitionNumber": "RN5123",
      "website": null
    },
    {
      "id": "d0b14a73-a736-d121-dfcd-ae778dd5b1d7",
      "itemId": 122,
      "name": "Counselling and Psychotherapy Central Awarding Body",
      "acronym": "CPCAB",
      "recognitionNumber": "RN5231",
      "website": null
    },
    {
      "id": "3f3da077-6a62-87c7-2550-98a61443bd84",
      "itemId": 44,
      "name": "Crossfields Institute",
      "acronym": "CFI",
      "recognitionNumber": "RN5358",
      "website": null
    },
    {
      "id": "95557504-866a-22c6-5812-5ebadf7fec94",
      "itemId": 166,
      "name": "DSW Consulting",
      "acronym": "DSW",
      "recognitionNumber": "RN6006",
      "website": null
    },
    {
      "id": "f6f681cb-91fa-8cf5-b616-c073590c892f",
      "itemId": 158,
      "name": "Defence Awarding Organisation",
      "acronym": "DAO",
      "recognitionNumber": "RN5232",
      "website": null
    },
    {
      "id": "c6827e00-1109-11ea-aba4-25b3d2202617",
      "itemId": 6827001109,
      "name": "Dental Team Qualifications",
      "acronym": "DTQ",
      "recognitionNumber": "RN6027",
      "website": null
    },
    {
      "id": "311740c0-0c95-11eb-ac47-c3fa89f5da9f",
      "itemId": 3117400095,
      "name": "ENGEPA Ltd",
      "acronym": "Engineering End Point Assessment",
      "recognitionNumber": "RN6076",
      "website": null
    },
    {
      "id": "3c378e04-0a1c-e123-9aec-d836c8cf3ca6",
      "itemId": 113,
      "name": "ETC Awards Limited",
      "acronym": "ETCAL",
      "recognitionNumber": "RN5135",
      "website": null
    },
    {
      "id": "a8a9b880-0226-11eb-83f3-ddc5e116c2e3",
      "itemId": 898800226,
      "name": "Elite Awarding Limited ",
      "acronym": "Elite Awarding",
      "recognitionNumber": "RN6066",
      "website": null
    },
    {
      "id": "ca5ff9a0-e22b-11ea-8c5b-d7d7769453ad",
      "itemId": 59022,
      "name": "Energy & Utilities Independent Assessment Service",
      "acronym": "EUIAS",
      "recognitionNumber": "RN6028",
      "website": null
    },
    {
      "id": "bc8e9e6e-3e57-3d26-59d1-94db2fbe727c",
      "itemId": 28,
      "name": "Engineering Construction Industry Training Board",
      "acronym": "ECITB",
      "recognitionNumber": "RN5132",
      "website": null
    },
    {
      "id": "6dbafa7b-6cb1-379d-6cbf-844c67a234a9",
      "itemId": 142,
      "name": "English Speaking Board (International) Ltd",
      "acronym": "ESB",
      "recognitionNumber": "RN5235",
      "website": null
    },
    {
      "id": "2cbde837-7e63-c72a-9882-c590094a13cb",
      "itemId": 147,
      "name": "Excellence, Achievement & Learning Limited",
      "acronym": "EAL",
      "recognitionNumber": "RN5260",
      "website": null
    },
    {
      "id": "44f8c040-5b56-11eb-ad98-d765c5fa5cba",
      "itemId": 448040556,
      "name": "Explosive Learning Solutions (ELS) Ltd",
      "acronym": "ELS",
      "recognitionNumber": "RN6075",
      "website": null
    },
    {
      "id": "71da1272-3fbb-3a2c-230b-4ea1f23e0c81",
      "itemId": 170,
      "name": "Extractives and Mineral Processing Industries Awards",
      "acronym": "EMPI Awards",
      "recognitionNumber": "RN6010",
      "website": null
    },
    {
      "id": "703acdc0-8c81-4c92-7bf1-be3e01275812",
      "itemId": 92,
      "name": "FDQ Limited",
      "acronym": "FDQ",
      "recognitionNumber": "RN5184",
      "website": null
    },
    {
      "id": "2bcb40ab-14a8-08c0-68cf-a17b5b29fa42",
      "itemId": 61,
      "name": "Fire Industry Association Awarding Organisation",
      "acronym": "FIA",
      "recognitionNumber": "RN5356",
      "website": null
    },
    {
      "id": "1ed79d09-e2a2-401a-2d7e-69d2794f063f",
      "itemId": 171,
      "name": "Fire Risk Management Limited",
      "acronym": "FRM",
      "recognitionNumber": "RN6011",
      "website": null
    },
    {
      "id": "8ddaee87-646c-6b24-fdb3-cf5507df52bb",
      "itemId": 96,
      "name": "First Aid Awards Ltd",
      "acronym": "FAA",
      "recognitionNumber": "RN5236",
      "website": null
    },
    {
      "id": "4f3a9300-1553-cd6a-9e07-716e2c5521b4",
      "itemId": 59,
      "name": "Focus Awards Limited",
      "acronym": "Focus Awards",
      "recognitionNumber": "RN5353",
      "website": null
    },
    {
      "id": "0c48a8b5-fbd4-e727-d8ae-df32a1f58115",
      "itemId": 151,
      "name": "Future (Awards and Qualifications) Ltd",
      "acronym": "FAQ",
      "recognitionNumber": "RN5136",
      "website": null
    },
    {
      "id": "24e0c259-a733-2da9-d1c7-aa2643cbafba",
      "itemId": 93,
      "name": "GQA Qualifications Limited",
      "acronym": "GQA",
      "recognitionNumber": "RN5137",
      "website": null
    },
    {
      "id": "9fc8e963-8d4d-553d-f0ce-696883c1d7f0",
      "itemId": 52,
      "name": "Gatehouse Awards Ltd",
      "acronym": "GA",
      "recognitionNumber": "RN5338",
      "website": null
    },
    {
      "id": "16a27e77-4cab-d9ad-3796-d97ebadcda19",
      "itemId": 69,
      "name": "Gateway Qualifications Limited",
      "acronym": "Gateway Qualifications",
      "recognitionNumber": "RN5328",
      "website": null
    },
    {
      "id": "23606852-0396-6faf-c9a6-337ad3be4baa",
      "itemId": 94,
      "name": "Graded Qualifications Alliance",
      "acronym": "GQAL",
      "recognitionNumber": "RN5138",
      "website": null
    },
    {
      "id": "1024cd3d-e968-2e32-65c5-ca771d7a96db",
      "itemId": 95,
      "name": "Highfield Qualifications",
      "acronym": "Highfield",
      "recognitionNumber": "RN5219",
      "website": null
    },
    {
      "id": "73b45950-1f86-11eb-8499-e9a3e841e071",
      "itemId": 7345950186,
      "name": "ICAS",
      "acronym": "ICAS",
      "recognitionNumber": "RN6046",
      "website": null
    },
    {
      "id": "4c4aeca0-fe32-11ea-83f3-ddc5e116c2e3",
      "itemId": 44032,
      "name": "IOSH",
      "acronym": "IOSH",
      "recognitionNumber": "RN6040",
      "website": null
    },
    {
      "id": "bd08a19a-56ca-190f-33d8-a8e8b9d15c03",
      "itemId": 76,
      "name": "IQL",
      "acronym": "IQL",
      "recognitionNumber": "RN5278",
      "website": null
    },
    {
      "id": "9ad9e403-fecc-0895-7c93-04bcef518701",
      "itemId": 84,
      "name": "ITC First",
      "acronym": "ITC",
      "recognitionNumber": "RN5148",
      "website": null
    },
    {
      "id": "8b2745c4-e7d4-d55a-17c8-016eacedb12a",
      "itemId": 89,
      "name": "Imperial Society of Teachers of Dancing",
      "acronym": "ISTD",
      "recognitionNumber": "RN5147",
      "website": null
    },
    {
      "id": "8ba85c72-1d07-e2dc-b50b-2e1016a0ed1f",
      "itemId": 143,
      "name": "Innovate Awarding",
      "acronym": "IAO",
      "recognitionNumber": "RN5204",
      "website": null
    },
    {
      "id": "4d34e87b-5c23-0f7d-ab51-7e4b0f036fb0",
      "itemId": 91,
      "name": "Institute of Animal Technology",
      "acronym": "IAT",
      "recognitionNumber": "RN5252",
      "website": null
    },
    {
      "id": "3a48bf9c-f48e-98d5-35b2-b72370fcbabb",
      "itemId": 90,
      "name": "Institute of British Sign Language",
      "acronym": "IBSL",
      "recognitionNumber": "RN5141",
      "website": null
    },
    {
      "id": "f9acd6e0-f362-11ea-8027-43b235b9a715",
      "itemId": 960362,
      "name": "Institute of Cast Metals Engineers",
      "acronym": "ICME",
      "recognitionNumber": "RN6056",
      "website": null
    },
    {
      "id": "35ef29b0-0244-11eb-83f3-ddc5e116c2e3",
      "itemId": 352900244,
      "name": "Institute of Chartered Accountants of England and Wales",
      "acronym": "ICAEW",
      "recognitionNumber": "RN6060",
      "website": null
    },
    {
      "id": "b7217004-ab9b-4032-3d93-07d30006252a",
      "itemId": 37,
      "name": "Institute of Export & International Trade",
      "acronym": "IOE",
      "recognitionNumber": "RN5274",
      "website": null
    },
    {
      "id": "d425a240-aaef-8ec9-540a-63664c7365a4",
      "itemId": 77,
      "name": "Institute of Revenues Rating and Valuation",
      "acronym": "IRRV",
      "recognitionNumber": "RN5285",
      "website": null
    },
    {
      "id": "0e04733e-e31c-0941-02b5-ebf6a05a41b7",
      "itemId": 78,
      "name": "Institute of Sales Management",
      "acronym": "ISM",
      "recognitionNumber": "RN5146",
      "website": null
    },
    {
      "id": "6ba9f637-3479-4de9-849c-28423d3c37bd",
      "itemId": 172,
      "name": "Institute of Sales Professionals",
      "acronym": "ISP",
      "recognitionNumber": "RN6012",
      "website": null
    },
    {
      "id": "c875a856-2c36-698d-2224-a466559e1840",
      "itemId": 139,
      "name": "Institute of Workplace and Facilities Management",
      "acronym": "IWFM",
      "recognitionNumber": "RN5117",
      "website": null
    },
    {
      "id": "f0744230-0ee6-11eb-ac47-c3fa89f5da9f",
      "itemId": 74423006,
      "name": "Institution of Mechanical Engineers",
      "acronym": "IMechE",
      "recognitionNumber": "RN6070",
      "website": null
    },
    {
      "id": "ccf95b75-36ab-4061-b7be-58d1f8f643a0",
      "itemId": 173,
      "name": "Insulation Environmental Training Trust Ltd",
      "acronym": "IETTL",
      "recognitionNumber": "RN6013",
      "website": null
    },
    {
      "id": "8aa5be75-08dc-0536-3778-c3abfcd1b515",
      "itemId": 75,
      "name": "International Association of Bookkeepers",
      "acronym": "IAB",
      "recognitionNumber": "RN5206",
      "website": null
    },
    {
      "id": "6e661c90-e868-11ea-8c5b-d7d7769453ad",
      "itemId": 666190868,
      "name": "International Association of Maritime Institutions ",
      "acronym": "IAMI",
      "recognitionNumber": "RN6042",
      "website": null
    },
    {
      "id": "c7f202a2-137d-c72b-5f13-4374cd944bdd",
      "itemId": 39,
      "name": "International Baccalaureate Organisation",
      "acronym": "IBO",
      "recognitionNumber": "RN5140",
      "website": null
    },
    {
      "id": "99c08a60-2035-11eb-8499-e9a3e841e071",
      "itemId": 9908602035,
      "name": "International Compliance Association",
      "acronym": "ICA",
      "recognitionNumber": "RN6068",
      "website": null
    },
    {
      "id": "f6312a23-847e-6d5c-c73d-fb338ec225d8",
      "itemId": 56,
      "name": "International Dance Teachers Association",
      "acronym": "IDTA",
      "recognitionNumber": "RN5346",
      "website": null
    },
    {
      "id": "f6ec28a0-e07c-11ea-8c5b-d7d7769453ad",
      "itemId": 628007,
      "name": "Intqual-pro Limited",
      "acronym": "IQP",
      "recognitionNumber": "RN6062",
      "website": null
    },
    {
      "id": "4c5ecb4f-67f8-4c68-e65a-8da394494519",
      "itemId": 104,
      "name": "Kaplan Professional Awards",
      "acronym": "KPA",
      "recognitionNumber": "RN5283",
      "website": null
    },
    {
      "id": "4bc3601a-8675-224d-220f-e7f10c44898d",
      "itemId": 105,
      "name": "LAMDA",
      "acronym": "LAMDA",
      "recognitionNumber": "RN5151",
      "website": null
    },
    {
      "id": "7978c6f0-03e3-11eb-aa45-254dd729e1c2",
      "itemId": 797860033,
      "name": "LIFT AND ESCALATOR INDUSTRY ASSOCIATION (EPA0269)",
      "acronym": "L.E.I.A. ",
      "recognitionNumber": "RN6057",
      "website": null
    },
    {
      "id": "1f965461-0e29-25ea-f358-c7eadbcddfa6",
      "itemId": 161,
      "name": "LanguageCert",
      "acronym": "LanguageCert",
      "recognitionNumber": "RN6001",
      "website": null
    },
    {
      "id": "9becc3c8-a2ac-4821-5e2c-717e70982d59",
      "itemId": 79,
      "name": "Lantra Awards",
      "acronym": "Lantra Awards",
      "recognitionNumber": "RN5152",
      "website": null
    },
    {
      "id": "0ac428ba-4663-d0f3-ec67-30807d025b04",
      "itemId": 67,
      "name": "Laser Learning Awards",
      "acronym": "LASER",
      "recognitionNumber": "RN5326",
      "website": null
    },
    {
      "id": "6d1c13b0-d2ae-6ff3-f4bc-892861412bf6",
      "itemId": 55,
      "name": "Learning Resource Network",
      "acronym": "LRN",
      "recognitionNumber": "RN5341",
      "website": null
    },
    {
      "id": "2c355da0-d940-11e9-a938-65e41775dd47",
      "itemId": 23550940,
      "name": "LifeSkills Solutions Ltd",
      "acronym": "LifeSkills Solutions Ltd",
      "recognitionNumber": "RN6037",
      "website": null
    },
    {
      "id": "15c000a4-720b-78c2-c8cd-b784722122a7",
      "itemId": 54,
      "name": "Logic Certification Limited",
      "acronym": "LCL Awards",
      "recognitionNumber": "RN5340",
      "website": null
    },
    {
      "id": "01690f00-0ef9-11eb-ac47-c3fa89f5da9f",
      "itemId": 16900009,
      "name": "MILITARY INDEPENDENT ASSESSMENT AUTHORITY (ROYAL NAVY)",
      "acronym": "MIAA (RN)",
      "recognitionNumber": "RN6049",
      "website": null
    },
    {
      "id": "f5c4013e-e75b-fb7e-d3c4-24937080382a",
      "itemId": 107,
      "name": "MP Awards",
      "acronym": "MPQC",
      "recognitionNumber": "RN5195",
      "website": null
    },
    {
      "id": "b960378f-cb4f-afc2-9963-7955189e4640",
      "itemId": 165,
      "name": "Manpower Services Limited",
      "acronym": "MPSUK",
      "recognitionNumber": "RN6005",
      "website": null
    },
    {
      "id": "5a90495d-c693-5352-3164-5ec2ed00c954",
      "itemId": 108,
      "name": "Mountain Training England",
      "acronym": "MTE",
      "recognitionNumber": "RN5191",
      "website": null
    },
    {
      "id": "cb258bbf-9ae1-81e5-51e4-ecf86579e46a",
      "itemId": 163,
      "name": "Music Teachers' Board",
      "acronym": "MTB Exams",
      "recognitionNumber": "RN6003",
      "website": null
    },
    {
      "id": "4317c7ff-e3e5-4f1a-dcfb-72305e333c7b",
      "itemId": 109,
      "name": "NALP",
      "acronym": "NALP",
      "recognitionNumber": "RN5154",
      "website": null
    },
    {
      "id": "84b030b8-6d59-59df-4ca3-d6a5aa3852ca",
      "itemId": 101,
      "name": "NCC Education Limited",
      "acronym": "NCC Education",
      "recognitionNumber": "RN5155",
      "website": null
    },
    {
      "id": "9a26e6f0-78a5-e51a-69a4-c32bf2739ad6",
      "itemId": 2,
      "name": "NCFE",
      "acronym": "NCFE",
      "recognitionNumber": "RN5156",
      "website": null
    },
    {
      "id": "da9fcb9e-af04-939b-2726-a2f395f0cfe7",
      "itemId": 110,
      "name": "NCTJ Training",
      "acronym": "NCTJ",
      "recognitionNumber": "RN5157",
      "website": null
    },
    {
      "id": "38296fe6-516f-87e1-9401-c82715f734e2",
      "itemId": 164,
      "name": "NICEIC Certification",
      "acronym": "NICEIC",
      "recognitionNumber": "RN6004",
      "website": null
    },
    {
      "id": "28dc1e9e-0d77-c094-08f1-72c616861ce9",
      "itemId": 31,
      "name": "NOCN",
      "acronym": "NOCN",
      "recognitionNumber": "RN5194",
      "website": null
    },
    {
      "id": "a46a5659-f9ca-1c06-34a4-cb572e858b6b",
      "itemId": 62,
      "name": "National Association of Teachers of Dancing",
      "acronym": "NATD",
      "recognitionNumber": "RN5357",
      "website": null
    },
    {
      "id": "6c9dcb20-1e8b-11eb-8499-e9a3e841e071",
      "itemId": 692018,
      "name": "National EPA ",
      "acronym": "NEPA",
      "recognitionNumber": "RN6041",
      "website": null
    },
    {
      "id": "dbb1f236-0804-3bca-08f7-67cd906f87c4",
      "itemId": 102,
      "name": "New Era Academy of Drama and Music (London) Ltd",
      "acronym": "NEA",
      "recognitionNumber": "RN5288",
      "website": null
    },
    {
      "id": "83e53280-db3f-11ea-8c5b-d7d7769453ad",
      "itemId": 83532803,
      "name": "Notebook Assessment Services Ltd",
      "acronym": "NAS",
      "recognitionNumber": "RN6044",
      "website": null
    },
    {
      "id": "4df4b38a-1102-a816-464f-c53acfcba8f0",
      "itemId": 149,
      "name": "OCR",
      "acronym": "OCR",
      "recognitionNumber": "RN5193",
      "website": null
    },
    {
      "id": "69f439f2-1874-82dc-4982-3e153d5ae769",
      "itemId": 117,
      "name": "OTHM Qualifications",
      "acronym": "OTHM",
      "recognitionNumber": "RN5284",
      "website": null
    },
    {
      "id": "2aa7a01f-6f71-36b6-80c0-e7ea75674333",
      "itemId": 49,
      "name": "Occupational Awards Limited",
      "acronym": "OAL",
      "recognitionNumber": "RN5360",
      "website": null
    },
    {
      "id": "c5546640-f263-6b03-48ac-2e3b976eaef4",
      "itemId": 1,
      "name": "Ofqual Awarding Organisation",
      "acronym": "OFQAO",
      "recognitionNumber": "RN0000",
      "website": null
    },
    {
      "id": "d50d6baf-7054-9f1f-737d-02c95633dd19",
      "itemId": 63,
      "name": "Open Awards",
      "acronym": "Open Awards",
      "recognitionNumber": "RN5289",
      "website": null
    },
    {
      "id": "f0b91e89-4fed-cfb2-286b-c8e53df0fe8f",
      "itemId": 43,
      "name": "Open College Network London Region",
      "acronym": "OCNLR",
      "recognitionNumber": "RN5337",
      "website": null
    },
    {
      "id": "b2577f78-1f7b-757d-5e52-4bcadad03483",
      "itemId": 68,
      "name": "Open College Network Northern Ireland",
      "acronym": "OCN NI",
      "recognitionNumber": "RN5327",
      "website": null
    },
    {
      "id": "e821321c-b3a6-f599-fde1-d145b3f0bb84",
      "itemId": 45,
      "name": "Open College Network West Midlands",
      "acronym": "Open College Network West Midlands",
      "recognitionNumber": "RN5343",
      "website": null
    },
    {
      "id": "3149dcba-5391-38b3-9530-02ad856187e0",
      "itemId": 103,
      "name": "PAA\\VQSET",
      "acronym": "PAA\\VQSET",
      "recognitionNumber": "RN5187",
      "website": null
    },
    {
      "id": "3fe7716e-ac93-48d7-903b-63bf937e3ae8",
      "itemId": 177,
      "name": "PADI EMEA Limited",
      "acronym": "PADI",
      "recognitionNumber": "RN6017",
      "website": null
    },
    {
      "id": "ea45731c-129d-bec9-8c13-2a8395006757",
      "itemId": 32,
      "name": "PIABC Ltd",
      "acronym": "PIABC",
      "recognitionNumber": "RN5197",
      "website": null
    },
    {
      "id": "c5c10162-75aa-e894-483e-c263fd3aa8e0",
      "itemId": 148,
      "name": "Pearson EDI",
      "acronym": "Pearson EDI",
      "recognitionNumber": "RN5134",
      "website": null
    },
    {
      "id": "b074ebcb-ceda-dcad-da1d-56d880c330e2",
      "itemId": 125,
      "name": "Pearson Education Ltd",
      "acronym": "Pearson",
      "recognitionNumber": "RN5133",
      "website": null
    },
    {
      "id": "59608895-f1b5-66eb-bcd3-3106592a5522",
      "itemId": 41,
      "name": "Prince's Trust",
      "acronym": "Prince's Trust",
      "recognitionNumber": "RN5249",
      "website": null
    },
    {
      "id": "fe85b296-de0f-3dc1-144a-64310d38d68c",
      "itemId": 72,
      "name": "ProQual Awarding Body",
      "acronym": "ProQual",
      "recognitionNumber": "RN5334",
      "website": null
    },
    {
      "id": "87e649d0-eb78-11e9-bc6c-6bbb74c04d80",
      "itemId": 87649078,
      "name": "Professional Assessment Ltd",
      "acronym": "PAL",
      "recognitionNumber": "RN6048",
      "website": null
    },
    {
      "id": "2d1d2fb0-f707-11e9-957b-317c7c294a0e",
      "itemId": 2120707,
      "name": "Progress Minded",
      "acronym": "PMA",
      "recognitionNumber": "RN6073",
      "website": null
    },
    {
      "id": "3f994e89-4db0-2e7f-75e7-28b19e089941",
      "itemId": 111,
      "name": "Propertymark Qualifications",
      "acronym": "Propertymark",
      "recognitionNumber": "RN5202",
      "website": null
    },
    {
      "id": "faceeb16-69a8-8834-215e-a83df33da495",
      "itemId": 97,
      "name": "Qualifi Ltd",
      "acronym": "QUALIFI",
      "recognitionNumber": "RN5160",
      "website": null
    },
    {
      "id": "932f3b8d-8af4-b970-407f-ae2f37db5697",
      "itemId": 98,
      "name": "Qualifications Network",
      "acronym": "QNUK",
      "recognitionNumber": "RN5159",
      "website": null
    },
    {
      "id": "9fafec80-e946-11e9-bc6c-6bbb74c04d80",
      "itemId": 980946,
      "name": "Qualifications for Industry",
      "acronym": "QFI",
      "recognitionNumber": "RN6029",
      "website": null
    },
    {
      "id": "5eaeb701-b337-daa9-047f-1df0752bcdab",
      "itemId": 64,
      "name": "Qualsafe Awards",
      "acronym": "QA",
      "recognitionNumber": "RN5291",
      "website": null
    },
    {
      "id": "999b32ed-04f7-0d3a-15c5-22171641afc2",
      "itemId": 100,
      "name": "RSL Awards Ltd",
      "acronym": "RSL",
      "recognitionNumber": "RN5192",
      "website": null
    },
    {
      "id": "3bc05290-0215-11ea-814b-dd7a15b04e5f",
      "itemId": 3052900215,
      "name": "Rambert Creative Contemporary Dance Grades",
      "acronym": "Rambert Grades",
      "recognitionNumber": "RN6023",
      "website": null
    },
    {
      "id": "7a08b84e-0ebd-f48b-e844-667dcb662225",
      "itemId": 99,
      "name": "Recruitment & Employment Confederation",
      "acronym": "REC",
      "recognitionNumber": "RN5162",
      "website": null
    },
    {
      "id": "d5e02d93-3cd1-2591-b623-e22a44679bc8",
      "itemId": 33,
      "name": "Royal Academy of Dance",
      "acronym": "RAD",
      "recognitionNumber": "RN5189",
      "website": null
    },
    {
      "id": "67075100-ed2f-11ea-8027-43b235b9a715",
      "itemId": 670751002,
      "name": "Royal Aeronautical Society",
      "acronym": "RAeS",
      "recognitionNumber": "RN6033",
      "website": null
    },
    {
      "id": "3d186770-11e3-11eb-a4b6-b7408afa9d17",
      "itemId": 3186770113,
      "name": "Royal Air Force",
      "acronym": "RAF",
      "recognitionNumber": "RN6052",
      "website": null
    },
    {
      "id": "7232b6e0-c5fd-f9f1-540b-a617939f0248",
      "itemId": 14,
      "name": "Royal Horticultural Society",
      "acronym": "RHS",
      "recognitionNumber": "RN5163",
      "website": null
    },
    {
      "id": "430fdddc-8cc9-89e6-e901-edbb47ee344e",
      "itemId": 15,
      "name": "Royal Society for Public Health",
      "acronym": "RSPH",
      "recognitionNumber": "RN5255",
      "website": null
    },
    {
      "id": "d92681a9-9a2f-9a04-b6f9-8311ed5e293a",
      "itemId": 51,
      "name": "Royal Society for the Prevention of Accidents",
      "acronym": "RoSPA",
      "recognitionNumber": "RN5362",
      "website": null
    },
    {
      "id": "e38780f7-1175-4d4c-cfc1-5b82cf21fd8a",
      "itemId": 128,
      "name": "SFEDI Enterprises Ltd. T\/A SFEDI Awards",
      "acronym": "SFEDI Awards",
      "recognitionNumber": "RN5303",
      "website": null
    },
    {
      "id": "f57c147e-da2d-23f6-d819-904b92a4784a",
      "itemId": 57,
      "name": "SFJ Awards",
      "acronym": "SFJ Awards",
      "recognitionNumber": "RN5351",
      "website": null
    },
    {
      "id": "09d1e400-a40a-11ea-8b6a-c5a1cb474897",
      "itemId": 9140040,
      "name": "SIAS",
      "acronym": "SIAS",
      "recognitionNumber": "RN6065",
      "website": null
    },
    {
      "id": "f753abba-6d4c-f58c-ea8b-9202e97c27ab",
      "itemId": 17,
      "name": "SLQ",
      "acronym": "SLQ",
      "recognitionNumber": "RN5166",
      "website": null
    },
    {
      "id": "43f0f9b0-322b-11ea-8597-87166cc2db5b",
      "itemId": 43090322,
      "name": "SS Educational Services Ltd",
      "acronym": "SSES",
      "recognitionNumber": "RN6032",
      "website": null
    },
    {
      "id": "1be2c41f-b502-d8e0-4b36-938ca03c87f5",
      "itemId": 168,
      "name": "SSid Awarding",
      "acronym": "SSid",
      "recognitionNumber": "RN6008",
      "website": null
    },
    {
      "id": "11ba0c9c-1538-1660-23e0-804da3e030c5",
      "itemId": 16,
      "name": "Safety Training Awards",
      "acronym": "STA",
      "recognitionNumber": "RN5168",
      "website": null
    },
    {
      "id": "871bef2b-4fa0-f08c-3a00-3296ce9793a3",
      "itemId": 127,
      "name": "Scottish Qualifications Authority trading as SQA",
      "acronym": "SQA",
      "recognitionNumber": "RN5167",
      "website": null
    },
    {
      "id": "41513314-cba1-06e0-5c59-ee9fa768c23d",
      "itemId": 7,
      "name": "Signature",
      "acronym": "Signature",
      "recognitionNumber": "RN5259",
      "website": null
    },
    {
      "id": "000e2ee8-9d51-b540-e2d8-1576ea5bf49a",
      "itemId": 150,
      "name": "Skills and Education Group Awards",
      "acronym": "SEG Awards",
      "recognitionNumber": "RN5112",
      "website": null
    },
    {
      "id": "b2cb4627-57d5-6fa3-6473-b54564886186",
      "itemId": 129,
      "name": "Skillsfirst Awards Ltd",
      "acronym": "Skillsfirst",
      "recognitionNumber": "RN5165",
      "website": null
    },
    {
      "id": "a5618100-e069-11ea-8c5b-d7d7769453ad",
      "itemId": 5618100069,
      "name": "Smart Awards Ltd ",
      "acronym": "Smart Awards Ltd",
      "recognitionNumber": "RN6031",
      "website": null
    },
    {
      "id": "8451cf40-264e-11ea-9948-73113d5d8576",
      "itemId": 845140264,
      "name": "South West Councils",
      "acronym": "SWC",
      "recognitionNumber": "RN6030",
      "website": null
    },
    {
      "id": "5efb2a80-307f-11ea-8597-87166cc2db5b",
      "itemId": 5280307,
      "name": "Steadfast Training Ltd",
      "acronym": "Steadfast EPA",
      "recognitionNumber": "RN6072",
      "website": null
    },
    {
      "id": "45ff5860-2b12-11eb-a273-ff900fd418d4",
      "itemId": 455860212,
      "name": "Suffolk County Council",
      "acronym": "SCC",
      "recognitionNumber": "RN6045",
      "website": null
    },
    {
      "id": "3120bb00-0c5a-11ea-9311-cb0a3d244bb0",
      "itemId": 31200005,
      "name": "Summit Qualifications UK",
      "acronym": "Summit Qualifications UK",
      "recognitionNumber": "RN6063",
      "website": null
    },
    {
      "id": "8643695a-9b34-5a48-956a-6c35eaba8370",
      "itemId": 137,
      "name": "Swim England Qualifications",
      "acronym": "SEQ",
      "recognitionNumber": "RN5114",
      "website": null
    },
    {
      "id": "5ad0ea20-79af-11ea-a511-118204e34448",
      "itemId": 502079,
      "name": "The British Council",
      "acronym": "The British Council",
      "recognitionNumber": "RN6035",
      "website": null
    },
    {
      "id": "187645c0-4ff7-4357-2026-1e38047f2af6",
      "itemId": 20,
      "name": "The Chartered Institute of Logistics and Transport in the UK",
      "acronym": "CILT(UK)",
      "recognitionNumber": "RN5250",
      "website": null
    },
    {
      "id": "0ff52000-185d-11eb-841d-77e783b7eae8",
      "itemId": 52000185,
      "name": "The Chartered Institution of Building Services Engineers",
      "acronym": "CIBSE",
      "recognitionNumber": "RN6051",
      "website": null
    },
    {
      "id": "659872ee-6909-3499-d632-38dfe58b7b11",
      "itemId": 115,
      "name": "The Gemmological Association of Great Britain",
      "acronym": "Gem-A",
      "recognitionNumber": "RN5242",
      "website": null
    },
    {
      "id": "3388c8c5-7784-4998-8bc7-a89a44e8d835",
      "itemId": 176,
      "name": "The Institute of Commercial Management",
      "acronym": "ICM",
      "recognitionNumber": "RN6016",
      "website": null
    },
    {
      "id": "a8d2aaa4-8395-b7b0-375d-774f25e618ff",
      "itemId": 50,
      "name": "The Institute of the Motor Industry",
      "acronym": "IMI",
      "recognitionNumber": "RN5361",
      "website": null
    },
    {
      "id": "e02d2e60-fe69-11ea-83f3-ddc5e116c2e3",
      "itemId": 226069,
      "name": "The Institution of Civil Engineers ",
      "acronym": "ICE",
      "recognitionNumber": "RN6047",
      "website": null
    },
    {
      "id": "4108a890-071b-11eb-aa45-254dd729e1c2",
      "itemId": 4108890071,
      "name": "The Institution of Engineering and Technology",
      "acronym": "The IET",
      "recognitionNumber": "RN6039",
      "website": null
    },
    {
      "id": "2d4f40a5-b1b7-7b4c-a25a-196821f52b10",
      "itemId": 38,
      "name": "The Institution of Fire Engineers",
      "acronym": "IFE",
      "recognitionNumber": "RN5280",
      "website": null
    },
    {
      "id": "1cc97571-ebca-d347-cc6a-0964c559fbf8",
      "itemId": 116,
      "name": "The Learning Machine",
      "acronym": "TLM",
      "recognitionNumber": "RN5273",
      "website": null
    },
    {
      "id": "88bcbfd0-5dc4-729a-74bb-c8248e7efb22",
      "itemId": 34,
      "name": "The London Institute of Banking & Finance",
      "acronym": "LIBF",
      "recognitionNumber": "RN5237",
      "website": null
    },
    {
      "id": "92e7a798-d85f-6a20-c750-af8eb91b0bb4",
      "itemId": 118,
      "name": "The Pensions Management Institute",
      "acronym": "PMI",
      "recognitionNumber": "RN5213",
      "website": null
    },
    {
      "id": "0f53ae60-95d0-11ea-87a4-cd0d89d95602",
      "itemId": 5360950,
      "name": "The Real Consultancy Company",
      "acronym": "TRCC",
      "recognitionNumber": "RN6081",
      "website": null
    },
    {
      "id": "2f2a88f0-670b-11eb-a338-37d9828c762e",
      "itemId": 22880670,
      "name": "The Transport Planning Society",
      "acronym": "TPS",
      "recognitionNumber": "RN6058",
      "website": null
    },
    {
      "id": "26006264-c2a0-40b4-93ae-ecbab4868a91",
      "itemId": 60,
      "name": "Training Qualifications UK Ltd",
      "acronym": "TQUK",
      "recognitionNumber": "RN5355",
      "website": null
    },
    {
      "id": "d03e1bbc-91d7-1524-887a-ba451235152a",
      "itemId": 167,
      "name": "Transcend Awards",
      "acronym": "Transcend",
      "recognitionNumber": "RN6007",
      "website": null
    },
    {
      "id": "3ca659b7-3068-1359-51d2-6b4f7c9d010c",
      "itemId": 6,
      "name": "Trinity College London",
      "acronym": "TCL",
      "recognitionNumber": "RN5169",
      "website": null
    },
    {
      "id": "8299a036-d713-2ef0-95f8-00ac5fb45d27",
      "itemId": 157,
      "name": "University of West London",
      "acronym": "UWL",
      "recognitionNumber": "RN5170",
      "website": null
    },
    {
      "id": "e15630d8-1b26-bb60-c887-7517ce84882f",
      "itemId": 159,
      "name": "University of the Arts London",
      "acronym": "UAL",
      "recognitionNumber": "RN5212",
      "website": null
    },
    {
      "id": "d176420b-849a-b5f8-2a1c-314b1228c3c1",
      "itemId": 8,
      "name": "VTCT",
      "acronym": "VTCT",
      "recognitionNumber": "RN5198",
      "website": null
    },
    {
      "id": "a649de70-eebd-11ea-8027-43b235b9a715",
      "itemId": 64970,
      "name": "Verge EPA ",
      "acronym": "Verge EPA",
      "recognitionNumber": "RN6064",
      "website": null
    },
    {
      "id": "b216525f-af89-a56f-191c-31d59d01a6d6",
      "itemId": 48,
      "name": "VetSkill",
      "acronym": "VetSkill",
      "recognitionNumber": "RN5359",
      "website": null
    },
    {
      "id": "d6180340-2b2e-11eb-a273-ff900fd418d4",
      "itemId": 618034022,
      "name": "Vistar Qualifications Limited",
      "acronym": "Vistar",
      "recognitionNumber": "RN6067",
      "website": null
    },
    {
      "id": "a2e47b7b-e7a6-1aa9-3f22-8e44f8142d6d",
      "itemId": 4,
      "name": "WAMITAB",
      "acronym": "WAMITAB",
      "recognitionNumber": "RN5171",
      "website": null
    },
    {
      "id": "263440e8-db80-0744-981e-4991466482bd",
      "itemId": 12,
      "name": "WJEC-CBAC",
      "acronym": "WJEC",
      "recognitionNumber": "RN5172",
      "website": null
    },
    {
      "id": "72a41fc1-a785-d6dc-cafb-d43a6806ccf7",
      "itemId": 35,
      "name": "WSET Awards",
      "acronym": "WSET",
      "recognitionNumber": "RN5174",
      "website": null
    },
    {
      "id": "56119fe6-4255-b037-e3a4-d21aa8bb2a1a",
      "itemId": 88,
      "name": "Worshipful Company of Farriers",
      "acronym": "WCF",
      "recognitionNumber": "RN5211",
      "website": null
    },
    {
      "id": "50f6452f-6a6f-5973-8080-be12b5125d62",
      "itemId": 30,
      "name": "Worshipful Company of Spectacle Makers",
      "acronym": "WCSM",
      "recognitionNumber": "RN5183",
      "website": null
    },
    {
      "id": "846fa9f6-9007-4d8d-aaf5-e7f8ac15fda4",
      "itemId": 100016,
      "name": "Xact Assessment",
      "acronym": "n\/a",
      "recognitionNumber": "RN6078",
      "website": null
    },
    {
      "id": "57f82c2a-ca05-dc40-6eaa-0d5c74e34289",
      "itemId": 5,
      "name": "YMCA Awards",
      "acronym": "YMCA",
      "recognitionNumber": "RN5224",
      "website": null
    },
    {
      "id": "71dfddf9-f3e7-8d26-53e8-5acb60722f1e",
      "itemId": 66,
      "name": "iCan Qualifications Limited",
      "acronym": "iCQ",
      "recognitionNumber": "RN5325",
      "website": null
    },
    {
      "id": "398ec340-016a-11ea-814b-dd7a15b04e5f",
      "itemId": 398340016,
      "name": "iPET Network Limited",
      "acronym": "iPET Network",
      "recognitionNumber": "RN6022",
      "website": null
    },
    {
      "id": "bd71fa71-0c07-f082-88e1-6937ae0e04f0",
      "itemId": 162,
      "name": "telc \u2013 language tests",
      "acronym": "telc",
      "recognitionNumber": "RN6002",
      "website": null
    }
  ]


    var getSuggestions = () => {
      var suggestions = []
      awardingOrgs.forEach(result => suggestions.push(result.name));
      return suggestions;
    }
  </script>

  <script type="text/javascript">
    var element = document.querySelector('#tt-default')
    var id = 'autocomplete-default'
    accessibleAutocomplete({
      element: element,
      id: id,
      source: getSuggestions(),
      name: "awardingOrg",
      templates: {
        suggestion: (value) => {
          var result = awardingOrgs.find(result => result.name == value);
          return `<span class='job-title'>${result.name}</span>`
        }
      }
    })
  </script>

  <div class="govuk-button-group govuk-!-margin-top-6">
    {{ govukButton({
      text: "Continue"
    }) }}
    <a class="govuk-link" href="./../frontdoor">Cancel</a>
  </div>

{% endblock %}
