
{% extends "_templates/page-template.html" %}

{% set pageHeading = "Make an enquiry" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

    <p class="govuk-body">Ofqual’s Public Enquiries team is the first point of contact for anyone with questions about the qualifications, assessments and awarding organisations we regulate.</p>

    <p class="govuk-body">You can use this service to make general enquiries about things we do.</p>

    <h2 class="govuk-heading-m">Before you begin</h2>
    <p class="govuk-body">Read the latest updates from Ofqual, which contains guidance to comment enquiries.<br>  
    <a href="https://www.gov.uk/guidance/ofqual-rolling-update" class="govuk-link">www.gov.uk/guidance/ofqual-rolling-update</a> </p>

    
    {{ govukButton({
      text: "Start now",
      href: "./",
      isStartButton: true
    }) }}  

    <h2 class="govuk-heading-m">Common enquiries</h2>
    <p class="govuk-body">Our website, <a href="https://www.gov.uk/ofqual" class="govuk-link">www.gov.uk/ofqual</a> has links to our most recent information which will answer our most common enquiries.</p>
    {# <ul class="govuk-list govuk-list--bullet">
      <li>
        arrangements for exams and assessments
      </li>
      <li>
        our student guide to exams and formal assessments 
      </li>
    </ul> 
    <p class="govuk-body">On our website, you can also find:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        a guide for students on coping with exam pressure
      </li>
      <li>
        links to the websites of awarding organisations and the Joint Council for Qualifications
      </li>
      <li>
        our register of regulated qualifications
      </li>
      <li>
        information on our rules
      </li>
      <li>
        information on how to apply to have your qualifications regulated
      </li>
      <li>
        information on how to make a complaint or an allegation of malpractice
      </li>
    </ul> #}

    <h2 class="govuk-heading-m">Enquiries we cannot answer</h2>
    <h3 class="govuk-heading-s">Certificates</h3>
    <p class="govuk-body"><span class="govuk-!-font-weight-bold">Ofqual does not hold copies of your certificates</span> – we can’t tell you your grade or provide replacements. Certificates are held by the exam board you sat your qualification with. If you don’t know which exam board you took your qualification with, ask your school. If your school don’t know you will need to ask each exam board to do a search for you – they will charge you for this.</p>
    <p class="govuk-body">If your exam board no longer exists, your certificates will have moved to an existing board. Read the guidance on who holds your certificates:
    <a href="https://www.gov.uk/replacement-exam-certificate/if-your-old-exam-board-no-longer-exists" class="govuk-link">www.gov.uk/replacement-exam-certificate/if-your-old-exam-board-no-longer-exists</a>
    </p>

    <h3 class="govuk-heading-s">Qualification International Equivalents</h3>
    <p class="govuk-body"><span class="govuk-!-font-weight-bold">Ofqual is not able to make any formal comparisons between qualifications taken outside of the UK to the UK system</span>. An organisation called ENIC can look at qualifications taken overseas and make formal comparisons: 
    <a href="https://www.enic.org.uk/" class="govuk-link">www.enic.org.uk</a>. 
    <p class="govuk-body">Please be aware that Ofqual is not affiliated with ENIC and they are not an official government body.</p>

    </div>

    <div class="govuk-grid-column-one-third"> 
      <aside class="app-sidebar">
      <h2 class="govuk-heading-s">View an existing case</h2>
      <p class="govuk-body">
        <a href="/manage/login" class="govuk-link">Sign in to view and manage an existing case</a>
      </p>
      </aside>
    </div>

  </div>

{% endblock %}
