
{% extends "_templates/page-template.html" %}

{% set pageHeading = "Make an enquiry" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Make an enquiry</h1>

    <p class="govuk-body">Ofqual’s Public Enquiries team is the first point of contact for anyone with questions about the qualifications, assessments or awarding organisations we regulate.</p>

    <p class="govuk-body">You can use this service to make general enquiries about things we do.</p>

    {{ govukButton({
      text: "Start now",
      href: "./",
      isStartButton: true
    }) }}
    
    <h2 class="govuk-heading-m">Common enquiries</h2>
    <p class="govuk-body">We get some queries quite frequently, such as:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        How can I get a replacement certificate?
      </li>
      <li>
        Who do you regulate?
      </li>
      <li>
        Is my qualification regulated by Ofqual?
      </li>
      <li>
        How does my qualification compare to others?
      </li>
    </ul> 
      
    <p class="govuk-body">We’ve made some short videos and animations to answer these:
    <a href="https://www.gov.uk/government/publications/ask-ofqual-common-questions-answered" class="govuk-link">https://www.gov.uk/government/publications/ask-ofqual-common-questions-answered</p>

    <h2 class="govuk-heading-m">Enquiries we cannot answer</h2>
    <h3 class="govuk-heading-s">Certificates</h3>
    <p class="govuk-body">Ofqual does not issue certificates, this is done by the exam board. </p>
    <h3 class="govuk-heading-s">Qualification equivalences</h3>
    <p class="govuk-body">Ofqual does not provide qualification equivalences as each regulated qualification has a level. If qualification types share the same level then they are seen as broadly comparable, in terms of the demand they place on the learner. However, qualifications at the same level can still be very different in terms of content and duration.</p> 
    <p class="govuk-body">View a guide to understanding comparisons between qualification levels: <a href="https://www.gov.uk/what-different-qualification-levels-mean/compare-different-qualification-levels" class="govuk-link">https://www.gov.uk/what-different-qualification-levels-mean/compare-different-qualification-levels</p>

    </div>
  </div>

{% endblock %}
