
{% extends "_templates/form-template.html" %}

{% set pageHeading = "What is your question?" %}
{% set formAction = "./is-it-document" %}

{% block formContent %}

  <span class="govuk-caption-l">Make an enquiry</span>
  <span class="govuk-heading-l">Enquiry details</span>
  
  <p class="govuk-body">You will be able to upload files to support your enquiry on a following page.</p>

  {{ govukInput({
    label: {
      text: "Provide a brief description of your enquiry",
      classes: "govuk-label--s"
    },
    hint: {
      text: ""
    },
    classes: "govuk-input govuk-!-width-two-thirds"
  } | decorateAttributes(data, "data.questionDescription")) }}

  {{ govukTextarea({
    rows: "12",
    label: {
      text: "What is your enquiry?",
      classes: "govuk-label--s"
    }
  } | decorateAttributes(data, "data.question")) }}

  {# <h2 class="govuk-heading-m">If you have any supporting documents you'd like to include upload them (optional)</h2>

  <div class="app-file-upload">
    <div class="app-file-upload__item">
      <p class="govuk--body">Filename1.pdf</p>
      <a class="govuk-link govuk-link--no-visited-state" href="#">Remove<span class="govuk-visually-hidden"> filename1</span></a>
    </div>
    <div class="app-file-upload__item">
      <p class="govuk--body">Filename2.pdf</p>
      <a class="govuk-link govuk-link--no-visited-state" href="#">Remove<span class="govuk-visually-hidden"> filename2</span></a>
    </div>
  </div>
  
  <div class="app-file-upload">
    {{ govukFileUpload({
      id: "file-upload-1",
      name: "file-upload-1",
      label: {
        text: "Upload a file",
        _classes: "govuk-label--s"
      }
    }) }}
  </div>

  {{ govukButton({
    text: "Add another file",
    classes: "govuk-button--secondary" 
  }) }} #}

  {# {{ govukRadios({
    fieldset: {
      legend: {
        text: "Do you have any supporting documentation to upload?",
        classes: "govuk-label--m"
      }
    },
    hint: {
      text: "You will be able to upload files to support your enquiry on the following page."
    },
    items: [
      {
        value: "Yes",
        text: "Yes"
      },
      {
        value: "No",
        text: "No"
      }
    ]
  } | decorateAttributes(data, "data.questionAnswer")) }} #}

  {# <h2 class="govuk-heading-m">If you have any supporting documents you'd like to send us please upload them.</h2>

  <div class="moj-multi-file-upload">
    <div class="moj-multi-file__uploaded-files ">
      <h2 class="govuk-heading-s">Files added</h2>
      <div class="govuk-summary-list moj-multi-file-upload__list">

      </div>
    </div>

    <div class="moj-multi-file-upload__upload">

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="documents">
          Upload a file
        </label>

        <input class="govuk-file-upload moj-multi-file-upload__input" id="documents" name="documents" type="file" multiple="">
      </div>

      <button class="govuk-button govuk-button--secondary moj-multi-file-upload__button" data-module="govuk-button">
        Upload file
      </button>

    </div>
  </div> #}

  <div class="govuk-button-group govuk-!-margin-top-4">
    {{ govukButton({
      text: "Continue"
    }) }}
    <a class="govuk-link" href="./../frontdoor">Cancel</a>
  </div>

{% endblock %}
