
{% extends "_templates/form-template.html" %}

{% set pageHeading = "What is your question?" %}
{% set formAction = "/the-question-answer" %}

{% block formContent %}

  <span class="govuk-caption-l">Make an enquiry</span>

  {{ govukTextarea({
    rows: "12",
    label: {
      text: "What is your question?",
      classes: "govuk-label--l",
      isPageHeading: true
    }
  } | decorateAttributes(data, "data.question")) }}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Do you have any supporting documentation you want to include?",
        classes: "govuk-label--s"
      }
    },
    items: [
      {
        value: "Yes",
        text: "Yes"
      },
      {
        value: "No",
        text: "No"
      }
    ]
  } | decorateAttributes(data, "data.questionAnswer")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}
    <a class="govuk-link" href="./../frontdoor">Cancel</a>
  </div>

{% endblock %}
