
{% extends "_templates/form-template.html" %}

{% set pageHeading = "Make a pubic enquiry" %}
{% set formAction = "./complaint-type-answer" %}

{% block formContent %}

  <h1 class="govuk-heading-l">Make a pubic enquiry</h1>

  [form here]

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}
    {# <a class="govuk-link" href="./frontdoor">Cancel</a> #}
  </div>
  {% set detailsHtml %}
      <p>An awarding organisation’s alleged failure to comply with our
          <a href="https://www.gov.uk/guidance/awarding-organisations-understanding-our-regulatory-requirements" target="_blank">regulations</a>:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>customer service issues, including how the awarding organisation has handled your complaint</li>
        <li>registration procedures for candidates and centres</li>
        <li>certification procedures for candidates</li>
        <li>potential or actual malpractice by someone involved with the exam or assessment</li>
      </ul>
      <p>You may wish to raise a concern about wrongdoing or malpractice, this may relate to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>exams, such as GCSEs and A levels</li>
        <li>key stage tests (SATs)</li>
        <li>assessment of vocational or technical qualifications listed on the <a href="https://register.ofqual.gov.uk/" target="_blank">Register of Regulated Qualifications</a></li>
        <li>activities of exam boards or awarding bodies (also called awarding organisations) which we regulate.</li>
      </ul>
      <p>The award of a regulated qualification by a recognised awarding organisation</p>
  {% endset %}

  {{ govukDetails({
    summaryText: "Types of enquiries we will answer",
    html: detailsHtml
  }) }}

{% endblock %}
