
{% extends "_templates/page-template.html" %}

{% set pageHeading = "Make a Freedom of Information request" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

    <p class="govuk-body">You have the right to ask to see recorded information held by Ofqual.</p>

    <p class="govuk-body">You can use this service to make a Freedom of Information (<abbr title="Freedom of Information">FOI</abbr>) request.</p>

    <h2 class="govuk-heading-m">Before you make a request</h2>
    <p class="govuk-body">You might not need to make a <abbr title="Freedom of Information">FOI</abbr> request if Ofqaul has:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://www.gov.uk/ofqual" class="govuk-link">already published the information</a></li>
      <li><a href="https://www.gov.uk/search/transparency-and-freedom-of-information-releases?content_store_document_type=foi_release&organisations%5B%5D=ofqual" class="govuk-link">previously responded to an <abbr title="Freedom of Information">FOI</abbr> request</a></li>
    </ul>
  
    <p class="govuk-body"> <a href="https://www.gov.uk/search/transparency-and-freedom-of-information-releases?content_store_document_type=foi_release&organisations%5B%5D=ofqual" class="govuk-link">Check our previous releases</a> to see if we’ve already answered your question.</p>

    {{ govukButton({
      text: "Start now",
      href: "./",
      isStartButton: true
    }) }}  

    <h2 class="govuk-heading-m">Common enquiries</h2>
    <p class="govuk-body">Our website <a href="https://www.gov.uk/ofqual" class="govuk-link">www.gov.uk/ofqual</a> has links to our most recent information which will answer our most common enquiries.</p>

    <h2 class="govuk-heading-m">Useful information</h2>
    <p class="govuk-body">You can ask for any information you think we may hold. The right only covers recorded information which includes information held on computers, in emails and in printed or handwritten documents as well as images, video and audio recordings.</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>You should identify the information you want as clearly as possible.</li>
      <li>Your request can be in the form of a question, rather than a request for specific documents, but we do not have to answer your question if this would mean creating new information or giving an opinion or judgment that is not already recorded.</li>
    </ul>

    <p class="govuk-body">Some information may not be given to you because it is exempt, for example because it would unfairly reveal personal details about somebody else.</p>
    <p class="govuk-body">For your request to be dealt with according to the Freedom of Information Act, you must:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>make the request in writing, by using this on-line form. If you prefer, you can make a request by another means, so long as it is in writing. For example in <a href="https://www.gov.uk/government/organisations/ofqual" class="govuk-link">a letter</a> or an email to <a href ="mailto: OfqualFOI@ofqual.gov.uk" class="govuk-link">OfqualFOI@ofqual.gov.uk</a></li>
      <li>give your real name</li>
      <li>give an address to which we can reply. This can be an email or postal address</li>
    </ul>

    <p class="govuk-body">If you cannot make your request in writing because of a disability, contact us. We will help you to make the request another way - for example over the phone.</p>

    <h2 class="govuk-heading-m">Personal information</h2>

    <p class="govuk-body">There is a different way to make a request if you want information that an Ofqual holds about you. You will need to send your request in writing to:.</p>
    
    <address>
      <p class="govuk-body">
        Data protection officer
        <br>
        Ofqual
        <br>
        Earlsdon Park
        <br>
        53-55 Butts Road
        <br>
        Coventry
        <br>
        CV1 3BH
    </p>
    </address>

    <p class="govuk-body">Email <a href="mailto: dp.requests@ofqual.gov.uk" class="govuk-link"></a>>dp.requests@ofqual.gov.uk</a></p>
    <p class="govuk-body">Contact form <a href="https://ofqual.citizenspace.com/public/20396612/" class="govuk-link"></a>>https://ofqual.citizen...</a></p>

    <h2 class="govuk-heading-m">Costs</h2>

    <p class="govuk-body">Most requests are free but in very rare circumstances you might be asked to pay a small amount for photocopies or postage.</p>

    </div>

    <div class="govuk-grid-column-one-third"> 
      <aside class="app-sidebar">
      <h2 class="govuk-heading-s">View an existing case</h2>
      <p class="govuk-body">
        <a href="/manage/login" class="govuk-link">Sign in to view and manage an existing case</a>
      </p>
      </aside>
    </div>

  </div>

{% endblock %}
