
{% extends "_templates/form-template.html" %}

{% set pageHeading = "What information are you requesting?" %}
{% set formAction = "./check-answers" %}

{% block formContent %}

  <span class="govuk-caption-l">Make a Freedom of Information request</span>

  {{ govukTextarea({
    rows: "12",
    label: {
      text: "What information are you requesting?",
      classes: "govuk-label--l",
      isPageHeading: true
    }
  } | decorateAttributes(data, "data.request")) }}

  {{ govukFileUpload({
    label: {
      text: "Upload a supporting document (optional)"
    }
  } | decorateAttributes(data, "data.fileUpload")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}
    <a class="govuk-link" href="./../frontdoor">Cancel</a>
  </div>

{% endblock %}
