
{% extends "_templates/form-template.html" %}

{% set pageHeading = "What information are you requesting?" %}
{% set formAction = "./is-it-document" %}

{% block formContent %}

  <span class="govuk-caption-l">Make a Freedom of Information request</span>

  {{ govukTextarea({
    rows: "12",
    label: {
      text: "Add a detailed description of the information you want",
      classes: "govuk-label--l"
    },
    hint: {
      text: "You will be able to upload files to support your request on a following page"
    }
  } | decorateAttributes(data, "data.question")) }}

  {# {{ govukFileUpload({
    label: {
      text: "Upload a supporting document (optional)",
      classes: "govuk-label--s"
    }
  } | decorateAttributes(data, "data.fileUpload")) }} #}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}
    <a class="govuk-link" href="./../frontdoor">Cancel</a>
  </div>

{% endblock %}
