{% extends "_templates/page-template.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Review your question to Ofqual</h1>
      
      <h2 class="govuk-heading-m">Your details</h2>
      
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Full name"
            },
            value: {
              text: data.user.fullName
            },
            actions: {
              items: [
                {
                  href: "./../ask-a-question",
                  text: "Change",
                  visuallyHiddenText: "the full name"
                }
              ]
            }
          },
          {
            key: {
              text: "Phone number"
            },
            value: {
              text: data.user.phone or 'Not provided'
            },
            actions: {
              items: [
                {
                  href: "./../ask-a-question",
                  text: "Change",
                  visuallyHiddenText: "the phone number"
                }
              ]
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              text: data.user.email
            },
            actions: {
              items: [
                {
                  href: "./../ask-a-question",
                  text: "Change",
                  visuallyHiddenText: "the email"
                }
              ]
            }
          },
          {
            key: {
              text: "What best describes you?"
            },
            value: {
              text: data.user.userType
            },
            actions: {
              items: [
                {
                  href: "./../ask-a-question",
                  text: "Change",
                  visuallyHiddenText: "what best describes you."
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Awarding organisation and qualification</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Awarding organisation"
            },
            value: {
              text: data.awardingOrg or "Not provided"
            },
            actions: {
              items: [
                {
                  href: "./../ask-a-question/search-for-ao",
                  text: "Change",
                  visuallyHiddenText: "the awarding organisation"
                }
              ]
            }
          },
          {
            key: {
              text: "Qualification"
            },
            value: {
              text: data.qualification or 'Not provided'
            },
            actions: {
              items: [
                {
                  href: "./../ask-a-question/search-for-ao",
                  text: "Change",
                  visuallyHiddenText: "the qualification"
                }
              ]
            }
          }
        ]
      }) }}
      
      <h2 class="govuk-heading-m">Center or school or information</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Center or school name"
            },
            value: {
              text: data.centreSchool.centreSchoolName or "Not provided"
            },
            actions: {
              items: [
                {
                  href: "./../ask-a-question/centre-school-info",
                  text: "Change",
                  visuallyHiddenText: "the centre or school name"
                }
              ]
            }
          },
          {
            key: {
              text: "Center or school number"
            },
            value: {
              text: data.centreSchool.centreSchoolNumber or 'Not provided'
            },
            actions: {
              items: [
                {
                  href: "./../ask-a-question/centre-school-info",
                  text: "Change",
                  visuallyHiddenText: "the centre or school number"
                }
              ]
            }
          }
        ]
      }) }}
      
      <h2 class="govuk-heading-m">Question details</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "What is your question?"
            },
            value: {
              text: data.user.question or "Not provided"
            },
            actions: {
              items: [
                {
                  href: "./../ask-a-question/the-question",
                  text: "Change",
                  visuallyHiddenText: "the question"
                }
              ]
            }
          },
          {
            key: {
              text: "Upload a supporting document"
            },
            value: {
              text: data.user.fileUpload or 'Not provided'
            },
            actions: {
              items: [
                {
                  href: "./../ask-a-question/the-question",
                  text: "Change",
                  visuallyHiddenText: "the uploaded file"
                }
              ]
            }
          }
        ]
      }) }}
      
      {# This is the success message that plays back to the user on the next screen #}
      {% set successMessage %}Your message has been sent to Ofqual{% endset %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Submit question",
          href: "./confirmation"
        }) }}
        <a class="govuk-link" href="/manage">Cancel</a>
      </div>
  
    </div>
  </div>
  
{% endblock %}