
{% extends "_templates/manage-template.html" %}

{% set pageHeading = "Manage" %}
{% set manageTabActive = "Case-details" %}

{% set backLink = "false" %}

{% block manageContent %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">Case details</h2>

      <div class="govuk-button-group govuk-!-margin-bottom-3 govuk-!-margin-top-3">
        
        {# if not closed #}
        {% if data.confirmClosed != "true" %}
          {{ govukButton({
            text: "Close this case",
            classes: "govuk-button--secondary",
            href: "/manage/close"
          }) }}
        {% endif %}
        
        {# if has more than one case #}
        {# {% if data.settings.caseStatus == "Has multiple cases in the service" or data.manage.case == "caseNew" %}
          {{ govukButton({
            text: "View my other cases",
            classes: "govuk-button--secondary",
            href: "./my-cases"
          }) }}
        {% endif %} #}

      </div>


      {% set dateSubmitted %}
        <time datetime="">{{ "" | today | moment('subtract', 2, 'days') |  govukDate }}</time>
      {% endset %} 

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Submitted by"
            },
            value: {
              text: data.fullName or "Sarah Teo"
            }
          },
          {
            key: {
              text: "Date submitted"
            },
            value: {
              html: dateSubmitted
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              text: "email@email.com"
            }
          },
          {
            key: {
              text: "Case subject"
            },
            value: {
               html: casetype
            }
          },
          {
            key: {
              text: "Case ID"
            },
            value: {
              text: "OFQ0006849"
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Case summary</h2>

      {# If a foi #}
      {% if data.caseType == "foi" %}
         {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "What is your question?"
              },
              value: {
                text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo eros mauris, ut varius quam venenatis sed. Aliquam commodo justo nunc, ut luctus justo placerat a. Nulla varius eu dui ac ullamcorper. Vestibulum volutpat libero metus, non sagittis ligula vestibulum eu. Proin ultrices efficitur imperdiet."
              }
            },
            {
              key: {
                text: "Supporting documents"
              },
              value: {
                text: data.fileUpload or 'Not provided'
              }
            }
          ]
        }) }}
      {% else %}
        {# Must be the enquiry #}
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "What is your question?"
              },
              value: {
                text: data.question or 'Not provided'
              }
            },
            {
              key: {
                text: "Supporting documents"
              },
              value: {
                text: data.fileUpload or 'Not provided'
              }
            }
          ]
        }) }}
      {% endif %}
  
    </div>
  </div>

{% endblock %}
