
{% extends "_templates/manage-template.html" %}

{% set pageHeading = "Manage" %}
{% set manageTabActive = "Case-details" %}

{% set backLink = "false" %}

{% block manageContent %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">Case details</h2>

      <div class="govuk-button-group govuk-!-margin-bottom-3 govuk-!-margin-top-3">
        
        {# if not closed #}
        {% if data.confirmClosed != "true" %}
          {{ govukButton({
            text: "Close this case",
            classes: "govuk-button--secondary",
            href: "/manage/close"
          }) }}
        {% endif %}
        
        {# if has more than one case #}
        {# {% if data.settings.caseStatus == "Has multiple cases in the service" or data.manage.case == "caseNew" %}
          {{ govukButton({
            text: "View my other cases",
            classes: "govuk-button--secondary",
            href: "./my-cases"
          }) }}
        {% endif %} #}

      </div>


      {% set dateSubmitted %}
        <time datetime="">{{ "" | today | moment('subtract', 2, 'days') |  govukDate }}</time>
      {% endset %} 

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Submitted by"
            },
            value: {
              text: data.fullName or "Sarah Teo"
            }
          },
          {
            key: {
              text: "Date submitted"
            },
            value: {
              html: dateSubmitted
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              text: "email@email.com"
            }
          },
          {
            key: {
              text: "Case subject"
            },
            value: {
               html: casetype
            }
          },
          {
            key: {
              text: "Case ID"
            },
            value: {
              text: "OFQ0006849"
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Case summary</h2>

      {# If an enquiry #}
      {# {% if data.manage.case == "caseNew" %}
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "What is your question?"
              },
              value: {
                text: data.question
              }
            }
          ]
        }) }}
      {% endif %} #}

      {# If a complaint #}
      {% if data.manage.case == "caseComplaint" %}
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "What do you think went wrong?"
              },
              value: {
                text: data.close.reason
              }
            },
            {
              key: {
                text: "How has this affected you?"
              },
              value: {
                text: data.close.reason
              }
            },
            {
              key: {
                text: "What do you think should be done to put things right?"
              },
              value: {
                text: data.close.reason
              }
            }
          ]
        }) }}
      
        <h2 class="govuk-heading-m">Awarding organisation</h2>

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Organisation"
              },
              value: {
                text: "Pearson"
              }
            },
            {
              key: {
                text: "Qualification"
              },
              value: {
                text: "EDI Level 1 Certificate in Spoken Business English (ESOL)"
              }
            }
          ]
        }) }}
      {% else %}
        {# Must be a FOI or enquiry #}
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "What is your question?"
              },
              value: {
                text: data.question or 'Not provided'
              }
            },
            {
              key: {
                text: "Supporting documents"
              },
              value: {
                text: data.fileUpload or 'Not provided'
              }
            }
          ]
        }) }}
      {% endif %}
  
    </div>
  </div>

{% endblock %}
