
{% extends "_templates/manage-template.html" %}

{% set pageHeading = "Manage" %}
{% set manageTabActive = "Messages" %}

{% set backLink = "false" %}

{% block manageContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">
      Messages
    </h2>

    {{ govukButton({
      text: "Send a message to Ofqual",
      classes: "govuk-button--secondary",
      href: "/manage/send"
    }) }} 

    {% if data.settings.caseStatus == "Is able to be challanged"%}
      <div class="app-notification-item"> 
        {{govukTag({
          text: "New",
          classes: "govuk-tag--blue govuk-!-margin-bottom-1"
        })}}
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
          <a href="/manage/read/outcome-reached">An outcome has been reached</a>
        </h3>
        <p class="govuk-hint govuk-!-font-size-16">
          <span class="app-timeline-item__name">From Ofqual, </span>
          <time datetime="">{{ "" | today | govukDate }} at 11:20</time>
        </p>
      </div>
    {% endif %}
    
    {% if data.send.subject %}
      <div class="app-notification-item"> 
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
          <a href="/manage/read/citizen-response">{{ data.send.subject}}</a>
        </h3>
        <p class="govuk-hint govuk-!-font-size-16">
          <span class="app-timeline-item__name">From you, </span>
          <time datetime="">{{ "" | today | moment('subtract', 1, 'days') |  govukDate }} at 11:56</time>
        </p>
      </div>
    {% endif %}
    
    <div class="app-notification-item">
      {{govukTag({
        text: "New",
        classes: "govuk-tag--blue govuk-!-margin-bottom-1"
      })}} 
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a href="/manage/read">Subject line</a>
      </h3>
      <p class="govuk-hint govuk-!-font-size-16">
        <span class="app-timeline-item__name">From Ofqual, </span>
        <time datetime="">{{ "" | today | moment('subtract', 2, 'days') |  govukDate }} at 11:56</time>
      </p>
    </div>
    {# <div class="app-notification-item"> 
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a href="#">Subject line</a>
      </h2>
      <p class="govuk-hint govuk-!-font-size-16">
        <span class="app-timeline-item__name">Sent by you, </span>
        <time>{{ "" | today | moment('subtract', 1, 'days') |  govukDate }} at 11:56</time>
      </p> #}
    </div>

  </div>
</div>



{% endblock %}
