
{% extends "_templates/manage-template.html" %}

{% set pageHeading = "Manage" %}
{% set manageTabActive = "Activity log" %}

{% set backLink = "false" %}

{% block manageContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">
      Activity log
    </h2>

     {% if data.confirmClosed == "true"%}
      <div class="app-notification-item"> 

        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
          You closed this case
        </h3>
        <p class="govuk-hint govuk-!-font-size-16">
          <time datetime="">{{ "" | today | govukDate }} at 13:02</time>
        </p>
        {# <a href="/manage/read/close-case-request" class="govuk-link govuk-body">View the request to close this case</a> #}
      </div>
    {% endif %}

    {% if data.reviewRequestReason %}
      <div class="app-notification-item"> 
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Internal review requested</h3>
        <p class="govuk-hint govuk-!-font-size-16">
          <span class="app-timeline-item__name">By you, </span>
          <time datetime="">{{ "" | today | govukDate }} at 17:11</time>
        </p>
        <a href="/manage/read/review-requested" class="govuk-link govuk-body">View request <span class="govuk-visually-hidden">Received <time datetime="">{{ "" | today | govukDate }}</time></span></a>
      </div>
    {% endif %}
    
    {# {% if data.settings.caseReview == "Is able to request review" %}
      <div class="app-notification-item"> 
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">You have the right to request an internal review</h3>
        <p class="govuk-hint govuk-!-font-size-16">
          <span class="app-timeline-item__name">Ofqual, </span>
          <time datetime="">{{ "" | today | govukDate }} at 12.02</time>
        </p>
        <a href="/manage/read/outcome-reached" class="govuk-link govuk-body">View details <span class="govuk-visually-hidden">Received <time datetime="">{{ "" | today | govukDate }}</time></span></a>
      </div>
    {% endif %} #}

    {% if data.send.subject %}
      <div class="app-notification-item"> 
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Messsage sent:<br>
          {{ data.send.subject}}
        </h3>
        <p class="govuk-hint govuk-!-font-size-16">
          <span class="app-timeline-item__name">From you, </span>
          <time datetime="">{{ "" | today | govukDate }} at 13:05</time>
        </p>
        <a href="/manage/read/citizen-response" class="govuk-link govuk-body">View message <span class="govuk-visually-hidden">sent <time datetime="">{{ "" | today | govukDate }}</time></span></a>
      </div>
    {% endif %}

    {# {% if data.manage.case == "caseFoi" %} #}
    {% if data.manage.case == "caseFoi" %}
      <div class="app-notification-item"> 
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
          A response to your case is available
        </h3>
        <p class="govuk-hint govuk-!-font-size-16">
          <span class="app-timeline-item__name">Ofqaul, </span>
          <time datetime="">{{ "" | today | moment('subtract', 12, 'days') |  govukDate }} at 21:11</time>
        </p>
        <a href="/manage/read" class="govuk-link govuk-body">View response <span class="govuk-visually-hidden">Received <time datetime="">{{ "" | today | moment('subtract', 1, 'days') |  govukDate }}</time></span></a>
      </div>
      <div class="app-notification-item"> 
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
          Case update
        </h3>
        <p class="govuk-hint govuk-!-font-size-16">
          <span class="app-timeline-item__name">Ofqual, </span>
          <time datetime="">{{ "" | today | moment('subtract', 21, 'days') |  govukDate }} at 17:01</time>
        </p>
        <div class="app-notification-item__note govuk-!-margin-bottom-2">
          <p class="govuk-body">This enqiury has been reassigned as a Freedom of Information request.</p>
          <p class="govuk-body">Ofqual is required to reply to this request within 10 days.<br> We will respond by <time datetime="">{{ "" | today | moment('subtract', 11, 'days') |  govukDate }}</time>.</p>
        </div>
      </div>
      <div class="app-notification-item"> 
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
          Case created
        </h3>
        <p class="govuk-hint govuk-!-font-size-16">
          <span class="app-timeline-item__name">By you, </span>
          <time datetime="">{{ "" | today | moment('subtract', 23, 'days') |  govukDate }} at 13:19</time>
        </p>
        <a href="/manage/case-details" class="govuk-link govuk-body">View case details</a>
      </div>
    {% else %}
      <div class="app-notification-item"> 
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
          A response to your case is available
        </h3>
        <p class="govuk-hint govuk-!-font-size-16">
          <span class="app-timeline-item__name">Ofqaul, </span>
          <time datetime="">{{ "" | today |  govukDate }} at 12:02</time>
        </p>
        <a href="/manage/read" class="govuk-link govuk-body">View response <span class="govuk-visually-hidden">Received <time datetime="">{{ "" | today |  govukDate }}</time></span></a>
      </div>
      <div class="app-notification-item"> 
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
          Case update
        </h3>
        <p class="govuk-hint govuk-!-font-size-16">
          <span class="app-timeline-item__name">Ofqual, </span>
          <time datetime="">{{ "" | today | moment('subtract', 1, 'days') |  govukDate }} at 15.05</time>
        </p>
        <div class="app-notification-item__note govuk-!-margin-bottom-2">
          <p class="govuk-body">This enqiury has been reassigned as a Freedom of Information request.</p>
          <p class="govuk-body">Ofqual is required to reply to this request within 10 days.<br> We will respond by <time datetime="">{{ "" | today | moment('subtract', 11, 'days') |  govukDate }}</time>.</p>
        </div>
      </div>
      <div class="app-notification-item"> 
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
          Case submitted
        </h3>
        <p class="govuk-hint govuk-!-font-size-16">
          <span class="app-timeline-item__name">By you, </span>
          <time datetime="">{{ "" | today | moment('subtract', 2, 'days') |  govukDate }} at 12:34</time>
        </p>
        <a href="/manage/case-details" class="govuk-link govuk-body">View case details</a>
      </div>
    {% endif %}  

    </div>

  </div>
</div>



{% endblock %}
