
{% extends "_templates/page-template.html" %}

{% set pageHeading = "My cases" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">My cases</h1>

      {# <p class="govuk-body">You can view updates from Ofqual, send reponses and manage your case.</p> #}
{# 
      {% set caseComplaint %}
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">
          Complaint
        </h2>
        {{govukTag({
          text: "Transferred",
          classes: "govuk-tag--grey govuk-!-margin-bottom-1"
        })}}<br>
        <span class="govuk-hint govuk-!-font-size-16">
          Submitted: <time datetime="">{{ "" | today | moment('subtract', 23, 'days') |  govukDate }}</time><br>
        </span> 
        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-top-1">
          This case was transferred to the Freedom of Information team on <time datetime="">{{ "" | today | moment('subtract', 13, 'days') |  govukDate }}. </time>
        </p>
      {% endset %} #}
      
      {% set caseComplaint %}
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">
          Enquiry
        </h2>
        {{govukTag({
          text: "Transferred",
          classes: "govuk-tag--grey govuk-!-margin-bottom-1"
        })}}<br>
        <span class="govuk-hint govuk-!-font-size-16">
          Subject: Biology exam questions<br>
          Submitted: <time datetime="">{{ "" | today | moment('subtract', 23, 'days') |  govukDate }}</time><br>
        </span> 
        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-top-2">
          This case has been reclassified and was transferred to the Freedom of Information team on <time datetime="">{{ "" | today | moment('subtract', 13, 'days') |  govukDate }}. </time>
        </p>
      {% endset %}
      
      {% set caseComplaintNew %}
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          <a href="/manage?caseType=foi" class="govuk-link">Freedom of Information request</a>
        </h2>
        {{govukTag({
          text: "Open",
          classes: "govuk-tag--blue govuk-!-margin-bottom-1"
        })}}<br>
        <span class="govuk-hint govuk-!-font-size-16">
          Subject: Biology exam questions<br>
          Last updated: <time datetime="">{{ "" | today | moment('subtract', 13, 'days') |  govukDate }}</time><br>
          Created: <time datetime="">{{ "" | today | moment('subtract', 13, 'days') |  govukDate }}</time>
        </span>
      {% endset %}

      {% set caseNew %}
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          <a href="/manage?caseType=enquiryNew" class="govuk-link">Enquiry</a>
        </h2>
        {{govukTag({
          text: "Open",
          classes: "govuk-tag--blue govuk-!-margin-bottom-1"
        })}}<br>
        <span class="govuk-hint govuk-!-font-size-16">
          Subject: [Dynamic subject goes here]<br>
          Last updated: <time datetime="">{{ "" | today |  govukDate }}</time><br>
          Submitted: <time datetime="">{{ "" | today | moment('subtract', 2, 'days') |  govukDate }}</time><br>
        </span>
      {% endset %}


      <div class="app-notification-item app-notification-item--case">
        {{ caseNew | safe }}
      </div>

      <div class="app-notification-item app-notification-item--case">
        {{ caseComplaintNew | safe }}
        <div class="app-notification-item--transferred govuk-!-margin-top-3">
          {{ caseComplaint | safe }}
        </div>
      </div>
    </div>
  </div>


{% endblock %}
