
{% extends "_templates/form-template.html" %}

{% set pageHeading = "My cases" %}
{% set formAction = "./" %}

{% block formContent %}

  {# <h1 class="govuk-heading-l">My enquiries</h1>

  <p class="govuk-body">You can view responses and send a message to Ofqual.</p> #}

  {% set caseNew %}
    {# <span class="govuk-!-font-weight-bold">Enquiry submitted <time datetime="">{{ "" | today | moment('subtract', 41, 'days') |  govukDate }}</time></span>
    {{govukTag({
      text: "Closed",
      classes: "govuk-tag--grey govuk-!-margin-bottom-1"
    })}}
    <br>
    <span class="govuk-hint govuk-!-font-size-16">
      Last updated: <time datetime="">{{ "" | today | moment('subtract', 23, 'days') |  govukDate }}</time>
    </span> #}
    <span class="govuk-!-font-weight-bold govuk-!-margin-bottom-2">
      Case ID: OF12347
    </span>
    {{govukTag({
      text: "Open",
      classes: "govuk-tag--blue govuk-!-margin-bottom-1"
    })}}
    <br>
    <span class="govuk-hint govuk-!-font-size-16">
      <span class="govuk-!-font-weight-bold govuk-!-margin-bottom-2">
        {% if data.confirmFoi %}
          Freedom of Information request
        {% else %}
          Enquiry
        {% endif %} 
      </span><br>
      Last updated: <time datetime="">{{ "" | today |  govukDate }}</time><br>
      Submitted: <time datetime="">{{ "" | today | moment('subtract', 2, 'days') |  govukDate }}</time>
    </span><br> 
  {% endset %}
  
  {% set caseComplaint %}
    {# <span class="govuk-!-font-weight-bold govuk-!-margin-bottom-2">
      Enquiry submitted <time datetime="">{{ "" | today | moment('subtract', 2, 'days') |  govukDate }}</time>
    </span>
    {{govukTag({
      text: "Open",
      classes: "govuk-tag--blue govuk-!-margin-bottom-1"
    })}}
    <br>
    <span class="govuk-hint govuk-!-font-size-16">
      Last updated: <time datetime="">{{ "" | today |  govukDate }}</time>
    </span> #}
    <span class="govuk-!-font-weight-bold">Case ID: OF35375</span>
    {{govukTag({
      text: "Closed",
      classes: "govuk-tag--grey govuk-!-margin-bottom-1"
    })}}
    <br>
    {# <p class="govuk-body govuk-!-margin-bottom-0">EDI Level 1 Certificate in Spoken Business English (ESOL)</p> #}
    <span class="govuk-hint govuk-!-font-size-16">
      <span class="govuk-!-font-weight-bold govuk-!-margin-bottom-2">
        Freedom of Information request
      </span><br>
      Last updated: <time datetime="">{{ "" | today | moment('subtract', 23, 'days') |  govukDate }}</time><br>
      Submitted: <time datetime="">{{ "" | today | moment('subtract', 41, 'days') |  govukDate }}</time>
    </span><br>
  {% endset %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Which enquiry do you want to view?",
         classes: "govuk-fieldset__legend--l",
         isPageHeading: true
      }
    },
    items: [
      {
        value: "caseNew",
        html: caseNew
      },
      {
        value: "caseComplaint",
        html: caseComplaint
      }
    ]
  } | decorateAttributes(data, "data.manage.case")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}
    <a class="govuk-link" href="#">Cancel</a>
  </div>

{% endblock %}
