
{% extends "_templates/page-template.html" %}

{% set pageHeading = "Do you want to search for a thing?" %}
{% set backLink = "false" %}
{% set signedOut = "true" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">The link you clicked has expired</h1>

      <p class="govuk-body">Sign in links only work once and expire after one hour, so you need to request a new one. We'll send this by email.</p>
    
      {{ govukButton({
        text: "Email me a new link",
        href: "./email-new-link"
      }) }}
    </div>
</div>
{% endblock %}
