
{% extends "_templates/form-template.html" %}

{% set pageHeading = "View an existing complaint or concern" %}
{% set formAction = "./check-email" %}

{% block formContent %}

  {{ govukInput({
    label: {
      text: "Enter the email address you provided in your enquiry or request",
      classes: "govuk-label--l",
      isPageHeading: true
    },
    classes: "govuk-input govuk-!-width-two-thirds"
  } | decorateAttributes(data, "data.existing.emailAddress")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}
    <a class="govuk-link" href="#">Cancel</a>
  </div>

{% endblock %}
