
{% extends "_templates/page-template.html" %}

{% set pageHeading = "Check your email" %}
{% set formAction = "./check-email" %}
{% set bodyClasses = "is-email-template" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="app-email-template">
        <img src="/public/images/ofqual-logo.png" alt="Ofqual logo" width="155px" class="govuk-!-margin-bottom-5">
        <p class="govuk-body govuk-!-font-weight-bold">Subject: Ofqual enquiry received</p>
        <p class="govuk-body">Dear [Full name]</p>
        <p class="govuk-body">Your enquiry has been received by the Ofqual Public Enquiries team.</p>
        <h2 class="govuk-heading-m govuk-!-margin-top-5">What happens next</h2>
        <p class="govuk-body">We will contact you within 3 working days with a response to your enquiry.</p>
        <p class="govuk-body">You can sign in to the case, view responses and send a message to Ofqual, by following this link: </p>
        <a href="https://contact-ofqual-experimental.herokuapp.com/manage/login" class="govuk-body govuk-link">https://contact-ofqual-experimental.herokuapp.com/manage/login</a></p>
        <p class="govuk-body">Regards, Ofqual</p>
      </div>

      {{ govukButton({
        text: "Next",
        classes: "govuk-button--secondary govuk-!-margin-top-8",
        href: "./response-email"
      }) }}  

    </div>
  </div>

{% endblock %}
