{# {% set notificationCount %}
  {% if data.send.subject and data.settings.caseStatus == "Is able to be challanged" %}
    3
  {% elseif data.send.subject %}
    2
  {% else %}
    1
  {% endif %}
{% endset %} #}

<ul class="acc-navigation__list acc-navigation__list--has-border acc-navigation__list govuk-!-margin-bottom-5">
  <li class="acc-navigation__list-item {{ 'app-navigation__list-item--current' if manageTabActive == 'Activity log' }} ">
    {# <a class="govuk-link govuk-link--no-visited-state" href="/manage">Messages (1<span class="govuk-visually-hidden"> messages</span>)</a> #}
    <a class="govuk-link govuk-link--no-visited-state" href="/manage">Activity log</a>
  </li>
  <li class="acc-navigation__list-item {{ 'app-navigation__list-item--current' if manageTabActive == 'Case-details' }} ">
    <a class="govuk-link govuk-link--no-visited-state" href="/manage/case-details">Case details</a>
  </li>
  <li class="acc-navigation__list-item {{ 'app-navigation__list-item--current' if manageTabActive == 'Guidance' }} ">
    <a class="govuk-link govuk-link--no-visited-state" href="/manage/guidance">Guidance</a>
  </li>
  {# {% if data.settings.caseStatus == "Has multiple cases in the service" %}
    <li class="acc-navigation__list-item {{ 'app-navigation__list-item--current' if manageTabActive == 'Other-complaints' }} ">
      <a class="govuk-link govuk-link--no-visited-state" href="#">My cases</a>
    </li>
  {% endif %} #}
</ul>
