<ul class="acc-navigation__list acc-navigation__list--has-border acc-navigation__list govuk-!-margin-bottom-5">
  <li class="acc-navigation__list-item {{ 'app-navigation__list-item--current' if manageTabActive == 'Notifications' }} ">
    <a class="govuk-link govuk-link--no-visited-state" href="/manage">Notifications</a>
  </li>
  <li class="acc-navigation__list-item {{ 'app-navigation__list-item--current' if manageTabActive == 'Complaint-details' }} ">
    <a class="govuk-link govuk-link--no-visited-state" href="/manage/complaint-details">Complaint details</a>
  </li>
</ul>
