<ul class="govuk-list govuk-list--dash">
  <li><a href="#section-how-will" class="govuk-link">How will my enquiry be answered?</a></li>
  <li><a href="#section-how-long" class="govuk-link">When will my enquiry be answered?</a></li>
</ul>

<h2 class="govuk-heading-m" id="section-how-will">How will my enquiry be answered?</h2>
<p clas="govuk-body">A member of our public enquiries team will read your enquiry and look to ensure that it is within the team’s remit to provide you with an answer.</p>

<p clas="govuk-body">When your enquiry is within our remit, we will write to you with the answer.</p>
<p clas="govuk-body">If an alternative team within Ofqual is best suited to respond to your enquiry directly, we will inform you that we have passed your enquiry to the relevant team.</p>
<p clas="govuk-body">Where your enquiry is within the remit of an alternative organisation, where we can, we will respond to you with the details of the organisation.</p>

<h2 class="govuk-heading-m" id="section-how-long">When will my enquiry be answered?</h2>
<p clas="govuk-body">We aim to respond to all enquiries within 3 working days. This includes if we need to inform you that we have passed your enquiry to an alternative team within Ofqual.</p>
<p clas="govuk-body">Some enquiries can be more complex and take longer for us to gather enough information to provide a full response. Where our team need longer, we will keep you informed and update you with the progress of your enquiry at least every 5 working days.
</p>