{% extends "_templates/form-template.html" %}

{% set pageHeading = "Confirm close of complaint" %}
{# This is the success message that plays back to the user on the next screen #}
{% set successMessage %}Your request for a review has been raised{% endset %}
{% set formAction = "/manage?_flash=" + successMessage %}

{% block formContent %}

  {# <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds"> #}

    <h1 class="govuk-heading-l">
      Confirm the request to review the outcome
    </h1>

    <p class="govuk-body">You will be able to view your complaint for 6 months, after this period access to the complaint will be removed.</p>
  
    {% set reviewRequestReasons %}
      <ul class="govuk-list">
        {% for reason in data.requestReviewReasons %}
          <li>
            {{ reason }}
          </li>
        {% endfor %}
      </ul>
    {% endset %}
    
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Why are you requesting a review of the outcome?"
          },
          value: {
            html: reviewRequestReasons
          },
          actions: {
            items: [
              {
                href: "../request-review",
                text: "Change",
                visuallyHiddenText: "requesting a review of the outcome"
              }
            ]
          }
        }
      ]
    }) }}

    <input type="hidden" id="confirmReviewRequest" name="confirmReviewRequest" value="true">

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue"
      }) }}
      <a class="govuk-link" href="/manage">Cancel</a>
    </div>

    {# </div>
  </div> #}

{% endblock %}