{% extends "_templates/page-template.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">
          By you,
          <time>{{ "" | today|  govukDate }}</time>
        </span>
        Internal review requested
      </h1>
      
      <p clas="govuk-body">
        {{ data.send.message }}
      </p>

      <h2 class="govuk-heading-m">Attachments</h2>
      <a href="./../manage/sign-in" class="govuk-link govuk-body">Document title (PDF - 36kb)</a>

      <div class="govuk-button-group govuk-!-margin-top-6">
        {{ govukButton({
          text: "Return to the dashboard",
          classes: "govuk-button--secondary",
          href: "./../../manage"
        }) }}
      </div>
  
    </div>
  </div>
  
{% endblock %}