{% extends "_templates/page-template.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">
          From Ofqual,
          <time>{{ "" | today | moment('subtract', 1, 'days') |  govukDate }}</time>
        </span>
        Subject line here
      </h1>
      
      <p clas="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus pretium est, eu tempus justo. Quisque rhoncus venenatis suscipit. Pellentesque ac ultrices neque.</p>

      <h2 class="govuk-heading-m">Attachments</h2>
      <a href="./../manage/login" class="govuk-link govuk-body">Document title one (PDF - 256kb)</a><br>
      <a href="./../manage/login" class="govuk-link govuk-body">Document title two (PDF - 36kb)</a>

      <div class="govuk-button-group govuk-!-margin-top-6">
        {{ govukButton({
          text: "Reply to this message",
          href: "./send"
        }) }}
        {# <a class="govuk-link" href="/manage">Cancel</a> #}
      </div>
  
    </div>
  </div>
  
{% endblock %}