{% extends "_templates/page-template.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">
          From Ofqual,
          <time>{{ "" | today | govukDate }}</time>
        </span>
        Subject line here
      </h1>
      
      <p class="govuk-body">Dear Sarah, 

      <p class="govuk-body">Thank you for contacting Ofqual.
      
      <p class="govuk-body">To explain, we provided an overview of the support for each qualification for students taking GCSEs, AS and A levels in 2022. I have provided you with a link here: <a href="https://www.gov.uk/guidance/subject-by-subject-support-for-gcse-as-and-a-level-students-in-2022" class="govuk-link govuk-body">https://www.gov.uk/guidance/subject-by-subject-support-for-gcse-as-and-a-level-students-in-2022</a></p> 

      <p class="govuk-body">If you have any concerns about the detail of advance information you should contact your son’s centre, who will then be able to inform the relevant exam board if appropriate.</p> 

      <p class="govuk-body">After results have been issued, if a student thinks there is an error in the marking or that an exam board hasn’t followed its processes properly, there is a reviews and appeals process, of which I have provided you with a link here:  <a href="https://www.gov.uk/guidance/regulating-gcses-as-and-a-levels-guide-for-schools-and-colleges-2022/reviews-and-appeals" class="govuk-link govuk-body">https://www.gov.uk/guidance/regulating-gcses-as-and-a-levels-guide-for-schools-and-colleges-2022/reviews-and-appeals</a></p>

      <h2 class="govuk-heading-m">Attachments</h2>
      <a href="./../manage/login" class="govuk-link govuk-body">Document title (PDF - 36kb)</a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">If you are unhappy with the way in which your request has been handled</h2>
      
      <p clas="govuk-body">If you are unhappy with the way in which your request has been handled you have the right to request an internal review. You must do this within 40 working days of the date of this response.</p> 
      <p clas="govuk-body">We will acknowledge receipt of your request for internal review and inform you of our target date for responding.</p>

      <div class="govuk-button-group govuk-!-margin-top-6">
        {# {{ govukButton({
          text: "Reply to this message",
          href: "./send"
        }) }} #}
        {{ govukButton({
          text: "Request an internal review",
          href: "./../manage/read/outcome-reached"
        }) }}
        <span class="govuk-body govuk-!-margin-right-2">or</span> <a class="govuk-link" href="/manage">return to the dashboard</a>
      </div>
  
    </div>
  </div>
  
{% endblock %}