{% extends "_templates/page-template.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You have the right to request an internal review
      </h1>
      
      <p clas="govuk-body">If you are unhappy with the way in which your request has been handled you have the right to request an internal review. You must do this within 40 working days of the date of this response.</p>


      <h2 class="govuk-heading-m">Further Information</h2>
      <p clas="govuk-body">We will acknowledge receipt of your request for internal review and inform you of our target date for responding.</p>
      <p clas="govuk-body">Wherever possible the internal review will be undertaken by someone other than the person who took the original decision. We will re-evaluate our handling of the request and pay particular attention to any concerns you raise.</p>
      <p clas="govuk-body">If you are dissatisfied with the outcome of the internal review, you can apply to the Information Commissioner. Complaints to the Information Commissioner can also be sent to:</p>
      <address class="govuk-body">
        FOI/EIR Complaints Resolution<br>
        Information Commissioner's Office<br>
        Wycliffe House<br>
        Water Lane<br>
        Wilmslow<br>
        Cheshire, SK9 5AF
      </address>

      <div class="govuk-button-group govuk-!-margin-top-6">
        {{ govukButton({
          text: "Continue",
          href: "./../request-review"
        }) }}
        <span class="govuk-body govuk-!-margin-right-2">or</span> <a class="govuk-link" href="/manage">return to the dashboard</a>
      </div>
  
    </div>
  </div>
  
{% endblock %}