
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Sorry, something went wrong
      </h1>
      
      <p class="govuk-body">Try again later.</p>
      <p class="govuk-body">If you continue to get this message, email Ofqual <a href="mailto:portalsupport@ofqual.gov.uk"> portalsupport@ofqual.gov.uk</a>.</p>

      {{ govukButton({
        text: "Return home",
        href: "./home"
      }) }}

    </div>
  </div>

{% endblock %}
