
{% extends "_templates/form-template.html" %}

{% set pageHeading = "Admin settings" %}
{% set formAction = "" %}

{% block formContent %}

  <h1 class="govuk-heading-l">Admin settings<h1>
  
  <h2 class="govuk-heading-m">Case type<h2>

   {{ govukRadios({
    items: [
      {
        value: "Complaint",
        text: "Complaint"
      },
      {
        value: "Question",
        text: "Question"
      },
      {
        value: "Freedom of information",
        text: "Freedom of information"
      }
    ]
  } | decorateAttributes(data, "data.settings.caseType")) }}

  <h2 class="govuk-heading-m">Case status<h2>

   {{ govukCheckboxes({
    items: [
      {
        value: "Has multiple cases in the service",
        text: "Has multiple cases in the service"
      },
      {
        value: "Is able to request review",
        text: "Is able to request review"
      }
    ]
  } | decorateAttributes(data, "data.settings.caseStatus")) }}

  {{ govukButton({
    text: "Update settings"
  }) }}

{% endblock %}
