
{% extends "_templates/page-template.html" %}

{% set pageHeading = "Frontdoor" %}

{# {% set backLink = "false" %} #}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Contact Ofqual</h1>

      <h2 class="govuk-heading-m">Guidance and answers</h2>
      <p class="govuk-body">See if there is an answer to your enquiry in our guidance and common enquiries: 
      <a href="https://www.gov.uk/guidance/ofqual-rolling-update" class="govuk-link">www.gov.uk/guidance/ofqual-rolling-update</a> </p>
      
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="/make-an-enquiry/start" class="govuk-link">Enquiries</a></h2>
      <p class="govuk-body">Ask Ofqual questions.</p>
      
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="https://www.gov.uk/government/organisations/ofqual/about/complaints-procedure" class="govuk-link">Complaints, malpractice and whistleblowing</a></h2>
      <p class="govuk-body">Make a complaint, report a concern of wrongdoing or malpractice or raise a concern as a whistleblower.</p>
      
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="/foi/start" class="govuk-link">Freedom of Information requests</a></h2>
      <p class="govuk-body">Ask to see recorded information held by Ofqual.</p>
      
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="/request-personal-information/start" class="govuk-link">Personal information requests</a></h2>
      <p class="govuk-body">
        Know what personal data we hold about you and to request a copy of that data. 
      </p>
      
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="https://www.gov.uk/guidance/exam-procedures-review-service" class="govuk-link">Exam procedures review service</a></h2>
      <p class="govuk-body">
       Request a review of the decisions made about your qualification results.
      </p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Awarding Organisations</h2>
      <p class="govuk-body">
       If you are an Awarding Organisation and have a question for Ofqual, please log into your account on the Portal and use the Contact the Regulator area: <a href="https://theportal.ofqual.gov.uk/">www.theportal.ofqual.gov.uk/</a>
      </p>



    </div>
    {# <div class="govuk-grid-column-one-third"> 
      <aside class="app-sidebar">
      <h2 class="govuk-heading-s">Do you have an existing enquiry or complaint?</h2>
      <p class="govuk-body">
        <a href="/manage/login" class="govuk-link">Log in to view responses and manage your case</a>
      </p>
      </aside>
    </div>  #}
  </div>

  {# <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <h2 class="govuk-heading-m">Other ways to contact Ofqual</h2>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Email</h3>
      <p class="govuk-body"><a class="govuk-link" href="mailto:public.enquiries@ofqual.gov.uk">public.enquiries@ofqual.gov.uk</a></p>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Telephone</h3>
      <p class="govuk-body">0300 303 3344</p>
    </div>
  </div> #}

{% endblock %}
