
{% extends "_templates/form-template.html" %}

{% set pageHeading = "Frontdoor" %}
{% set formAction = "./contact-type-answer" %}

{# {% set backLink = "false" %} #}

{% block formContent %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "What would you like to do?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: [
      {
        value: "Make an enquiry",
        text: "Make an enquiry"
      },
      {
        value: "Make a complaint",
        text: "Make a complaint"
      },
      {
        value: "Make a Freedom of Information request",
        text: "Make a Freedom of Information request"
      },
      {
        value: "Request personal information about yourself",
        text: "Request personal information about yourself"
      },
      {
        value: "Contact the Exam procedures review service",
        text: "Contact the Exam procedures review service"
      },
      {
        divider: "or"
      },
        {
          value: "View an existing query or complaint",
          text: "View an existing query or complaint"
        }
    ]
  } | decorateAttributes(data, "data.contactType")) }}

  {{ govukButton({
    text: "Continue"
  }) }}

{% endblock %}
