
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Contact Ofqual prototype
      </h1>
      
      <h2 class="govuk-heading-m">Public facing sections</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/home">Ofqual homepage</a></li>
        <li><a href="/frontdoor">Front door</a></li>
        <li><a href="/manage/sign-in">Manage (Default login flow)</a></li>
        <li><a href="/manage/notification-email">Manage (Login flow from notification email)</a></li>
        <li><a href="/make-an-enquiry/start">Make an enquiry</a></li>
        <li><a href="/foi/start">Make a Freedom of Information request</a><br></li>
        <li><a href="/request-personal-information/start">Request personal information about yourself</a><br>
          {{govukTag({
            text: "Needs content",
            classes: "govuk-tag--grey govuk-!-margin-top-1"
          })}}
        </li>
        <li><a href="/404">404 - Page not found</a></li>
        <li><a href="/500">500 - Something went wrong</a></li>
        <li><a href="/signed-out">We’ve signed you out</a></li>
        <li><a href="manage/request-a-new-code">Expired magic link</a></li>
      </ul>
      
      <h2 class="govuk-heading-m">Internal use</h2>
      <p class="govuk-body">The <code>Admin</code> section allows us to set up the prototype in different states.</p>
      <a href="/admin" class="govuk-link govuk-body">View Admin settings</a>

    </div>
  </div>

{% endblock %}
