{% extends "layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - {{serviceName}} - GOV.UK
{% endblock %}

{% if not backLink %}
    {% set backLink = 'javascript:history.back();' %}
{% endif %}
{% if not backText %}
    {% set backText = 'Back'  %}
{% endif %}

{% if backLink == 'false' %}
    {% set backLink = false %}
{% endif %}

{% if backText == 'false' %}
    {% set backText = '' %}
{% endif %}

{% block pageNavigation %}
  {% if backLink %}
    {{ govukBackLink({
      text: backText,
      href: backLink
    }) }}
  {% endif %}
{% endblock %}

{% block content %}

  {# This is the 'successful' notification banner, it fires based on the route from each of the check your answers pages #}
  {% set successHtml %}
    <h3 class="govuk-notification-banner__heading">
      {{ query._flash | safe }}
    </h3>
  {% endset %}

  {% if query._flash %}
    {{ govukNotificationBanner({
      html: successHtml,
      type: "success",
      classes: "govuk-!-margin-top-4 govuk-!-margin-bottom-6"
    }) }}
  {% endif %}

  {% set casetype %}
  {# if its a new case #}
    {% if data.manage.case == "caseNew" %}
      {# If its a FOI case esle fall back to Enquiry #}
      {% if data.confirmFoi %}
        Freedom of Information request
      {% else %}
        Enquiry
      {% endif %}
    {# if its a complaint #}
    {% elseif data.manage.case == "caseComplaint" %}
      Complaint
    {% else %}
      Enquiry
    {% endif %}
  {% endset %}
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
        <span class="govuk-caption-l">
          Submitted <time datetime="">{{ "" | today | moment('subtract', 2, 'days') |  govukDate }}</time>
        </span>
        Manage your case
        <div class="app-status govuk-!-margin-left-1" style="display: inline-block">
          <span class="govuk-visually-hidden">Status</span>
          
          {% if data.manage.case == "caseNew" %}
            {{govukTag({
              text: "Open",
              classes: "govuk-tag--blue"
            })}}
          {% elseif data.manage.case == "caseComplaint" %}
            {{govukTag({
              text: "Closed",
              classes: "govuk-tag--grey"
            })}}
          {% elseif data.confirmClosed == "true" %}
            {{govukTag({
              text: "Closed",
              classes: "govuk-tag--grey"
            })}}
          {% elseif data.settings.caseReview  == "Is able to request review" and data.confirmReviewRequest == "true" %}
            {{govukTag({
              text: "Review requested",
              classes: "govuk-tag--pink"
            })}}
          {% elseif data.settings.caseReview  == "Is able to request review" and data.confirmClosed != "true" %}
            {{govukTag({
              text: "Outcome reached",
              classes: "govuk-tag--blue"
            })}}
          {% else %}
            {{govukTag({
              text: "Open",
              classes: "govuk-tag--blue"
            })}}
          {% endif %}
      </h1>

      <div class="govuk-button-group govuk-!-margin-bottom-2 govuk-!-margin-top-6">

        {{ govukButton({
          text: "Send Ofqual a message",
          _classes: "govuk-button--secondary",
          href: "/manage/send"
        }) }} 

        {% if data.settings.caseReview == "Is able to request review" and data.confirmReviewRequest != "true"%}
          {{ govukButton({
            text: "Request review of outcome",
            classes: "govuk-button--secondary",
            href: "./../manage/request-review"
          }) }}
        {% endif %}

      </div>

      

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "_includes/manage-nav.html" %}
    </div>
  </div>

  {% block manageContent %}
  {% endblock %}

{% endblock %}



