{% extends "_templates/form-template.html" %}

{% set pageHeading = "Confirm close of complaint" %}
{% set successMessage %}Your case has been closed{% endset %}
{% set formAction = "/manage?_flash=" + successMessage %}

{% block formContent %}

  {# <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds"> #}

    <h1 class="govuk-heading-l">
      Confirm close of case
    </h1>

    <p class="govuk-body">You will be able to view your complaint for 6 months, after this period access to the complaint will be removed.</p>
  
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Why you are closing this case?"
          },
          value: {
            text: data.close.reason
          },
          actions: {
            items: [
              {
                href: "../close",
                text: "Change",
                visuallyHiddenText: "the reason for closing this case"
              }
            ]
          }
        }
      ]
    }) }}

    {# This sets a flag in the data to tell us the user has submitted the close request   #}
    <input type="hidden" id="confirmClosed" name="confirmClosed" value="true">

    {# This is the success message that plays back to the user on the next screen #}

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Close case",
        classes: "govuk-button--warning"
      }) }}
      {# {{ govukButton({
        text: "Close complaint",
        classes: "govuk-button--warning",
        href: "/manage?_flash=" + successMessage
      }) }} #}
      <a class="govuk-link" href="/manage">Cancel</a>
    </div>

    {# </div>
  </div> #}

{% endblock %}