
{% extends "_templates/form-template.html" %}

{% set pageHeading = "Send a message" %}
{% set formAction = "./close/check-answers" %}

{% block formContent %}

  {{ govukCharacterCount({
    maxlength: 5000,
    rows: "8",
    label: {
      text: "Why you are closing your complaint?",
      classes: "govuk-label--l",
      isPageHeading: true
    }
  } | decorateAttributes(data, "data.close.reason")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}
    <a class="govuk-link" href="/manage">Cancel</a>
  </div>

{% endblock %}
